<!doctype html>
<html lang="ru-RU">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Топ-10 слов в новогодних речах мировых лидеров</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="stylesheet" href="css/main.css">
</head>

<body>

<div class="content">
    <div class="undertitle">Топ-10 слов в новогодних речах мировых лидеров</div>
    <div class="menu">
        <a class="menu__item menu__item_active" id="rus" href="#" data-link="rus">
            <span class="menu__item-name">Владимир Путин</span>
            <span class="menu__item-country">Россия</span>
        </a>
        <a class="menu__item" id="usa" href="#" data-link="usa">
            <span class="menu__item-name">Барак Обама</span>
            <span class="menu__item-country">США</span>
        </a>
        <a class="menu__item" id="fra" href="#" data-link="fra">
            <span class="menu__item-name">Франсуа Олланд</span>
            <span class="menu__item-country">Франция</span>
        </a>
        <a class="menu__item" id="ch" href="#" data-link="ch">
            <span class="menu__item-name">Си Цзиньпин</span>
            <span class="menu__item-country">Китай</span>
        </a>
        <a class="menu__item" id="gb1" href="#" data-link="gb1">
            <span class="menu__item-name">Елизавета II</span>
            <span class="menu__item-country">Великобритания</span>
        </a>
        <a class="menu__item" id="ger" href="#" data-link="ger">
            <span class="menu__item-name">Ангела Меркель</span>
            <span class="menu__item-country">Германия</span>
        </a>
        <a class="menu__item" id="vat" href="#" data-link="vat">
            <span class="menu__item-name">Папа Римский Франциск</span>
            <span class="menu__item-country">Ватикан</span>
        </a>
    </div>
    <div class="words">
        <div class="words__image">
            <img src="images/rus.png" height="270px" class="words__image-file rus" />
            <img src="images/ger.png" height="270px" class="words__image-file ger" />
            <img src="images/ch.png" height="270px" class="words__image-file ch" />
            <img src="images/gb1.png" height="270px" class="words__image-file gb1" />
            <img src="images/usa.png" height="270px" class="words__image-file usa" />
            <img src="images/fra.png" height="270px" class="words__image-file fra" />
            <img src="images/vat.png" height="270px" class="words__image-file vat" />
        </div>
    </div>

</div>
<div id="vis" class="svg-place">
</div>

<script type='text/template' id="bars_modal">
    <% _.each(data, function(item, key) { %>
    <div class="bars__item" data-year="<%=key %>">
        <div class="bars__item-year"><%=key %></div>
        <div class="bars__item-bar">
            <div class="bars__item-bar-value" style="width: <%=item['count'] / max* 100%>%;"></div>
        </div>
        <div class="bars__item-value"><%=item['count'] %></div>
    </div>
    <% }); %>
</script>

<script src="../../../_vendors_/js/jquery/3.1.1/jquery.min.js"></script>
<script src="../../../_vendors_/js/underscore/1.8.3/underscore.js"></script>
<script src="../../../_vendors_/js/1/d3/3.4.11/d3.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>
</body>
</html>
