<!doctype html>
<html lang="ru-RU">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>К каким темам чаще всего обращаются мировые лидеры в своих поздравлениях</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="stylesheet" href="css/second_mobile.css">
</head>

<body>

<div class="content">
    <div class="choosers__container">
        <div class="choosers">
            <div class="choosers__value">
                <span class="choosers__value-name">Владимир Путин</span>
                <span class="choosers__value-country">Россия</span>
            </div>
            <div class="choosers__list">
                <div class="choosers__item choosers__item_active" id="russian" data-link="russian">
                    <span class="choosers__item-name">Владимир Путин</span>
                    <span class="choosers__item-country">Россия</span>
                </div>
                <div class="choosers__item" id="usa" data-link="usa">
                    <span class="choosers__item-name">Барак Обама</span>
                    <span class="choosers__item-country">США</span>
                </div>
                <div class="choosers__item" id="france" data-link="france">
                    <span class="choosers__item-name">Франсуа Олланд</span>
                    <span class="choosers__item-country">Франция</span>
                </div>
                <div class="choosers__item" id="china" data-link="china">
                    <span class="choosers__item-name">Си Дзен Пи</span>
                    <span class="choosers__item-country">Китай</span>
                </div>
                <div class="choosers__item" id="england" data-link="england">
                    <span class="choosers__item-name">Елизавета II</span>
                    <span class="choosers__item-country">Великобритания</span>
                </div>
                <div class="choosers__item" id="german" data-link="german">
                    <span class="choosers__item-name">Ангела Меркель</span>
                    <span class="choosers__item-country">Германия</span>
                </div>
                <div class="choosers__item" id="pope" data-link="pope">
                    <span class="choosers__item-name">Папа Римский Франциск</span>
                    <span class="choosers__item-country">Ватикан</span>
                </div>
            </div>
        </div>
    </div>
    <div class="bars">

    </div>
</div>

<script type='text/template' id="bars_items">
    <% _.each(data['items'], function(item, key) { %>
    <div class="bars__item">
        <div class="bars__content">
            <div class="bars__content-name"><%=item['name']%></div>
            <div class="bars__content-value"><%=item['value']%>%</div>
        </div>
        <div class="bars__item-bar">
            <div class="bars__item-bar-value" style="width: <%=item['value']/data['max']*100 %>%; background: <%=colors[item['name']] %>" data-name="" data-value="<%=Math.round(item['value']*10000)/100%>%"></div>
        </div>
    </div>
    <% }); %>
</script>

<div class="modal">
    <div class="modal__round"></div>
    <div class="modal__name"></div>
    <div class="modal__percent"></div>
</div>


<script src="../../../_vendors_/js/jquery/3.1.1/jquery.min.js"></script>
<script src="../../../_vendors_/js/underscore/1.8.3/underscore.js"></script>
<script type="text/javascript" src="js/second_mobile.js"></script>
</body>
</html>
