/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body{
    font-family: 'ALSStory','Helvetica CY',Arial,sans-serif;
}
#container {
    height: 500px;
    position: relative;
}
.map__district{
    padding-bottom: 30px;
    border-bottom: solid 1px rgba(0,0,0,0.08);
}
.map__district__title{
    font-weight: bold;
    font-size: 28px;
    line-height: 38px;
    padding: 20px 0 25px 40px;
    border-bottom: solid 1px rgba(0,0,0,0.08);
}
.map__district__time{
    color: #979797;
    font-size: 14px;
    font-weight: normal;
    line-height: 17px;
}
.map__district__name{
    font-weight: bold;
    font-size: 16px;
    display: block;
    border-bottom: solid 1px rgba(0,0,0,0.08);
    padding: 5px 0;
    margin: 0 10px 10px;
}
.map__district__value{
    font-size: 13px;
    display: block;
    margin: 0 10px 5px;
}
.map__district__value b{
    font-weight: bold;
}
.map__district__poll{
    font-size: 0;
    position: relative;
    padding-left: 40px;
}
.map__district__percent{
    font-size: 42px;
    font-weight: bold;
    padding: 20px 15px 5px 0;
    display: inline-block;
    vertical-align: top;
    display: none;
}
.map__district__text{
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    padding: 22px 0 5px 0;
    display: inline-block;
    vertical-align: top;
}
.map__district__party{
    font-size: 28px;
    font-weight: bold;
    padding: 20px 0 25px 0;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
}
.map__district__party_name{
}
.map__district__party_arrow{
    font-size: 12px;
    vertical-align: middle;
}
.map__district__party-list {
    display: none;
    position: absolute;
    background: #FFFFFF;
    z-index: 1;
    margin-top: -20px;
    margin-left: 40px;
    padding: 0;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: rgb(51, 51, 51);
    -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    -moz-box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    width: 350px;
    box-shadow: 0 5px 29px 0 rgba(0,0,0,.3);
}
.map__district__party-list__item {
    cursor: pointer;
    padding: 12px 20px;
    border-top: 1px solid #ECECEC;
}
.map__district__party-list__item:first-child{
    border: 0;
}
.map__district__party-list__item.selected{
    background: #00cd8e;
    color: #fff;
    cursor: default;
}
.map__district__party-list__item.selected:hover{
    color: #fff;
}
.map__district__party-list__item:hover {
    color: #00cd8e;
}
.map__district__legend{
    padding-left: 40px;
    padding-top: 20px;
}
.map__district__legend__item{
    display: inline-block;
    vertical-align: bottom;
    font-size: 12px;
    width: 80px;
    margin-bottom: 10px;
}
.map__district__legend__icon{
    border-radius: 16px;
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: bottom;
    margin-right: 5px;
}
.icon1{
    background: #daebd4;
}
.icon2{
    background: #b3dbab;
}
.icon3{
    background: #8dc782;
}
.icon4{
    background: #66b559;
}
.icon5{
    background: #40a429;
}
.icon6{
    background: #179200;
}
.icon7{
    background: #007e00;
}
.icon8{
    background: #005900;
}
.icon9{
    background: #004700;
}



.icon11{
    background: #fedfa6;
}
.icon12{
    background: #efc592;
}
.icon13{
    background: #e3b083;
}
.icon14{
    background: #d89b73;
}
.icon15{
    background: #cc8663;
}
.icon16{
    background: #c17054;
}
.icon17{
    background: #b55b44;
}
.icon18{
    background: #aa4735;
}
.icon19{
    background: #9e3024;
}
.icon20{
    background: #921b15;
}
.icon21{
    background: #6a0203;
}
.map__district__result{
    border-top: solid 1px rgba(0,0,0,0.08);
    margin: 10px 10px 0;
    padding: 15px 0 5px;
}
.map__district__result__item{
    padding-bottom: 5px;
    min-width: 250px;
}
.map__district__result__item.bold{
    font-weight: bold;
}
.map__district__party-list__value{
    width: 45px;
    text-align: right;
    float: left;
}
.map__district__result__value{
    width: 50px;
    text-align: right;
    float: left;
}
.map__district__party-list__title{
    margin-left: 55px;
}
.map__district__result__title{
    padding-left: 10px;
    overflow: hidden;
    white-space: normal;
}


.article__poll {
  width: 100%;
}
.article__poll__header {
  padding: 0 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid #ededed;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.article__poll__title {
  margin-bottom: 20px;
  padding-top: 15px;
  display: inline-block;
  font-weight: bold;
  line-height: 38px;
  font-size: 28px;
}
.article__poll__time {
  margin-left: 5px;
  display: inline-block;
  font-weight: normal;
  font-size: 14px;
  color: #a1a1a1;
}
.article__poll__percent-bar-wrapper {
  margin-bottom: 20px;
  height: 20px;
  width: 70%;
  background: #fafafa;
}
.article__poll__percent-all-bar {
  display: inline-block;
  height: 20px;
  background: #00cd8e;
}
.article__poll__percent-title {
  font-weight: bold;
  font-size: 42px;
  margin-bottom: 40px;
}
.article__poll__percent-title_name {
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
  display: inline-block;
  width: 40px;
}
.article__poll__answer-information {
  margin-left: 50%;
  margin-bottom: 40px;
  display: none;
}
.article__poll__real-data {
  display: inline-block;
  margin-right: 10px;
}
.article__poll__real-data_picture {
  display: table-cell;
  margin-top: 10px;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #cb2d38;
  background: linear-gradient(to top, #e7b35a, #cb2d38);
}
.article__poll__real-data_name {
  display: table-cell;
  padding-left: 10px;
  vertical-align: middle;
  font-size: 12px;
}
.article__poll__exitpoll-data {
  display: inline-block;
}
.article__poll__exitpoll-data_picture {
  display: table-cell;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #e1e1e1;
}
.article__poll__exitpoll-data_name {
  padding-left: 10px;
  vertical-align: middle;
  display: table-cell;
  font-size: 12px;
}
.article__poll__answer {
  position: relative;
}
.article__poll__answer__limit {
  position: absolute;
  width: 1px;
  left: 50%;
  top: -10px;
  bottom: -15px;
  display: table-cell;
  vertical-align: bottom;
  border-left: 1px dashed #bfbfbf;
  color: #bfbfbf;
}
.article__poll__answer__limit_text {
  position: absolute;
  bottom: 0;
  left: 20px;
  width: 100%;
  font-size: 11px;
}
.article__poll__answer-item {
  padding: 10px 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 100%;
  font-size: 0;
}
.article__poll__answer-item__percent_bold,
.article__poll__answer-item__percent {
  display: inline-block;
  text-align: right;
}

.article__poll__answer-item__result {
  float: left;
  width: 50%;
}

.article__poll__answer-item__result__inner {
  display: block;
  float: left;
  padding-right: 10px;
  width: 70px;
  text-align: right;
}
.article__poll__answer-item__result__inner.big{
  width: 130px;
}
.article__poll__answer-item__percent_exitpoll{
  display: inline-block;
}

.article__poll__answer-item__percent_bold,
.article__poll__answer-item__percent_exitpoll,
.article__poll__answer-item__percent {
  font-size: 14px;
  color: #979797;
}

.article__poll__answer-item__percent {
  padding-right: 10px;
}

.article__poll__answer-item__percent_exitpoll{
  padding-right: 10px;
}
.article__poll__answer-item__name {
  display: block;
  overflow: hidden;
  font-size: 14px;
  color: #979797;
  text-align: left;
  font-weight: normal;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 10px;
}
.article__poll__answer-item__bar-wrapper {
  display: inline-block;
  width: 50%;
}
.article__poll__answer-item__bar-real {
  height: 20px;
  margin-bottom: 2px;
  width: 0%;
}
.article__poll__answer-item__bar-exitpoll {
  height: 20px;
  background: #e1e1e1;
  width: 0;
}
.article__poll__answer-item:hover {
  background: #FAFAFA;
}
.article__poll__percent{
    display: none;
}
.article__poll__answer-item.bold .article__poll__answer-item__percent{
  font-weight: bold;
  color: #000000;
}
.article__poll__answer-item.bold .article__poll__answer-item__name,
.article__poll__answer-item.bold .article__poll__answer-item__percent_exitpoll{
  font-weight: bold;
}


.article__poll__answer-item__percent__inner{
    padding-right: 15px;
}

.mobile{
  display: none;
}

.clearfix {
    zoom: 1;
}
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}

@media (max-width: 760px) {
    .article__poll__header{
        padding: 0 30px;
        margin-bottom: 20px;
    }

    .map__district__title{
        padding: 20px 0 20px 30px;
    }

    .map__district__legend{
        padding-left: 30px;
    }

    .map__district__poll{
        padding-left: 30px;
    }

    .map__district__party-list{
        margin-left: -20px;
    }
}





@media (max-width: 620px) {
    .article__poll{
        padding: 0 20px;
    }

    .map__district__title{
        padding: 20px 0 20px 20px;
    }
  .article__poll__header {
    border-bottom: 0;
    padding: 0;
    margin-bottom: 10px;
    margin-right: 20px;
    padding-right: 20px;
  }
  .article__poll__title {
    font-size: 16px;
    margin-bottom: 0;
    padding-top: 0;
  }
  .article__poll__time {
    color: #979797;
  }
  .article__poll__percent-title_name {
    color: #979797;
  }
  .article__poll__percent-bar-wrapper {
    width: 100%;
  }
  .article__poll__answer-information {
    margin: 0 0 30px;
  }
  .article__poll__answer-item {
    padding: 15px 0;
    width: 100%;
    border-bottom: 1px solid #ededed;
  }
  .article__poll__answer-item__percent {
    text-align: left;
  }

  .article__poll__answer-item__result {
    width: 100%;
}
  .article__poll__answer-item__name {
    width: 100%;
    margin-bottom: 12px;
  }
  .article__poll__answer-item__bar-wrapper {
    width: 100%;
    padding: 0;
  }
  .article__poll__answer__limit {
    display: none;
  }
  .article__poll__answer-item:hover {
    background: none;
  }

  .article__poll__percent-title_name,
  .article__poll__percent-title{
    font-weight: normal;
  }
  .article__poll__percent-title{
    margin-bottom: 10px;
  }
  .article__poll__percent-bar-wrapper{
    margin-bottom: 10px;
  }
  .article__poll__answer-item__percent{
    padding-bottom: 3px;
  }
  .article__poll__answer{
    margin-right: 20px;
    padding-right: 20px;
  }
  .article__poll__answer-item__bar-real,
  .article__poll__answer-item__bar-exitpoll{
    height: 15px;
  }
  .article__poll__answer-item__bar-real{
    margin-bottom: 1px;
  }

  .article__poll__answer-item__result__inner{
    text-align: left;
  }

  .desktop{
    display: none;
  }
  .mobile{
    display: block;
  }

  .poll{
    border-top: solid 1px rgba(0,0,0,0.08);
    padding: 15px 20px;
  }
  .poll__info{
    font-weight: bold;
    font-size: 15px;
    padding-bottom: 15px;
  }
  .poll__time{
    font-weight: normal;
    color: #979797;
  }
  .poll__title{
    font-size: 0;
    padding-bottom: 15px;
  }
  .poll__percent{
    font-size: 36px;
    display: none;
    padding-right: 10px;
  }
  .poll__subtitle{
    font-size: 15px;
    display: inline-block;
  }
  .poll__block{
    border-top: solid 1px rgba(0,0,0,0.08);
    padding-top: 15px;
  }
  .poll__item{
    padding-bottom: 15px;
    font-size: 14px;
  }
  .poll__item__percent{
    float: left;
    text-align: right;
    padding-right: 15px;
    width: 40px;
    font-weight: bold;
  }
  .poll__item__name{
    overflow: hidden;
  }
  .poll__block.loose{
    color: #979797;
  }
}
