@font-face {
    font-family: 'ALSStory';
    src: url('../../../../_vendors_/fonts/ALSStory/als_story_bold_italic-webfont.eot');
    src: url('../../../../_vendors_/fonts/ALSStory/als_story_bold_italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../../../_vendors_/fonts/ALSStory/als_story_bold_italic-webfont.woff') format('woff'),
    url('../../../../_vendors_/fonts/ALSStory/als_story_bold_italic-webfont.ttf') format('truetype'),
    url('../../../../_vendors_/fonts/ALSStory/als_story_bold_italic-webfont.svg#als_storybold_italic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'ALSStory';
    src: url('../../../../_vendors_/fonts/ALSStory/als_story_bold-webfont.eot');
    src: url('../../../../_vendors_/fonts/ALSStory/als_story_bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../../../_vendors_/fonts/ALSStory/als_story_bold-webfont.woff') format('woff'),
    url('../../../../_vendors_/fonts/ALSStory/als_story_bold-webfont.ttf') format('truetype'),
    url('../../../../_vendors_/fonts/ALSStory/als_story_bold-webfont.svg#als_storybold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ALSStory';
    src: url('../../../../_vendors_/fonts/ALSStory/als_story_italic-webfont.eot');
    src: url('../../../../_vendors_/fonts/ALSStory/als_story_italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../../../_vendors_/fonts/ALSStory/als_story_italic-webfont.woff') format('woff'),
    url('../../../../_vendors_/fonts/ALSStory/als_story_italic-webfont.ttf') format('truetype'),
    url('../../../../_vendors_/fonts/ALSStory/als_story_italic-webfont.svg#als_storyitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'ALSStory';
    src: url('../../../../_vendors_/fonts/ALSStory/als_story_regular-webfont.eot');
    src: url('../../../../_vendors_/fonts/ALSStory/als_story_regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../../../_vendors_/fonts/ALSStory/als_story_regular-webfont.woff') format('woff'),
    url('../../../../_vendors_/fonts/ALSStory/als_story_regular-webfont.ttf') format('truetype'),
    url('../../../../_vendors_/fonts/ALSStory/als_story_regular-webfont.svg#als_storyregular') format('svg');
    font-weight: normal;
    font-style: normal;
}