body {
    width: 100%;
    max-width: 900px;
    position: relative;
    padding: 0;
    margin: 0;
    font-family: 'ALSStory', 'Helvetica CY', Arial, sans-serif;
}
#moscow-map {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

#moscow {
    font-family: 'ALSStory', 'Helvetica CY', Arial, sans-serif;
}
.modal {
    width: 404px;
    border-radius: 5px;
    background: #FFFFFF;
    position: absolute;
    display: inline-block;
    visibility: hidden;
    padding: 0 0 20px;
    font-size: 0;
    -webkit-box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.5);
}

.modal__header {
    width: 100%;
    background: #f9453a;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: bold;
    padding: 40px 30px;
    border-radius: 5px 5px 0 0;
    box-sizing: border-box;
}

.modal__text {
    padding: 20px 30px 10px;
    border-radius: 0 0 5px 5px;
    box-sizing: border-box;
}

.modal__column {
    min-width: 50%;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 20px;
}

.modal__title {
    font-weight: bold;
}

.modal__reaction {
    margin-bottom: 10px;
    font-size: 16px;
}