<!doctype html>
<html lang="ru-RU">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Топ-10 самых популярных слов в новогодних речах мировых лидеров</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="stylesheet" href="css/main_mobile.css">
</head>

<body>

<div class="content">
    <div class="choosers">
        <div class="choosers__value">
            <span class="choosers__value-name">Владимир Путин</span>
            <span class="choosers__value-country">Россия</span>
        </div>
        <div class="choosers__list">
            <div class="choosers__item choosers__item_active" id="rus" data-link="rus">
                <span class="choosers__item-name">Владимир Путин</span>
                <span class="choosers__item-country">Россия</span>
            </div>
            <div class="choosers__item" id="usa" data-link="usa">
                <span class="choosers__item-name">Барак Обама</span>
                <span class="choosers__item-country">США</span>
            </div>
            <div class="choosers__item" id="fra" data-link="fra">
                <span class="choosers__item-name">Франсуа Олланд</span>
                <span class="choosers__item-country">Франция</span>
            </div>
            <div class="choosers__item" id="ch" data-link="ch">
                <span class="choosers__item-name">Си Дзен Пи</span>
                <span class="choosers__item-country">Китай</span>
            </div>
            <div class="choosers__item" id="gb1" data-link="gb1">
                <span class="choosers__item-name">Елизавета II</span>
                <span class="choosers__item-country">Великобритания</span>
            </div>
            <div class="choosers__item" id="ger" data-link="ger">
                <span class="choosers__item-name">Ангела Меркель</span>
                <span class="choosers__item-country">Германия</span>
            </div>
            <div class="choosers__item" id="vat" data-link="vat">
                <span class="choosers__item-name">Папа Римский Франциск</span>
                <span class="choosers__item-country">Ватикан</span>
            </div>
        </div>
    </div>
    <div id="vis" class="svg-place">
    </div>
    <div class="words">
        <div class="words__image">
            <img src="images/rus.png" height="160px" class="words__image-file rus" />
            <img src="images/ger.png" height="160px" class="words__image-file ger" />
            <img src="images/ch.png" height="160px" class="words__image-file ch" />
            <img src="images/gb1.png" height="160px" class="words__image-file gb1" />
            <img src="images/usa.png" height="160px" class="words__image-file usa" />
            <img src="images/fra.png" height="160px" class="words__image-file fra" />
            <img src="images/vat.png" height="160px" class="words__image-file vat" />
        </div>
    </div>
</div>

<script type='text/template' id="bars_modal">
    <% _.each(data, function(item, key) { %>
    <div class="bars__item" data-year="<%=key %>">
        <div class="bars__item-year"><%=key %></div>
        <div class="bars__item-bar">
            <div class="bars__item-bar-value" style="width: <%=item['count'] / max* 100%>%;"></div>
        </div>
        <div class="bars__item-value"><%=item['count'] %></div>
    </div>
    <% }); %>
</script>

<script src="../../../_vendors_/js/jquery/3.1.1/jquery.min.js"></script>
<!--
<script src="../../../_vendors_/js/underscore/1.8.3/underscore.js"></script>
<script src="../../../_vendors_/js/d3/3.4.11/d3.min.js"></script>-->
<script type="text/javascript" src="js/check.js"></script>
</body>
</html>
