<!doctype html>
<html lang="ru-RU">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>К каким темам чаще всего обращаются мировые лидеры в своих поздравлениях</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="stylesheet" href="css/second.css">
</head>

<body>

<div class="content">
    <div class="bars">

    </div>
</div>

<script type='text/template' id="bars_items">
    <% _.each(countries, function(item, key) { %>
    <div class="bars__item">
        <div class="bars__content">
            <div class="bars__content-image">
                <img class="bars__content-image-src" src="<%=item['image'] %>" alt="<%=item['name'] %>" />
            </div>
            <div class="bars__content-name"><%=item['name'] %>
                <span class="bars__content-country"><%=item['country'] %></span>
            </div>
        </div>
        <div class="bars__item-bar">
            <% _.each(data[key], function(theme) { %>
            <div class="bars__item-bar-value" style="width: <%=theme['value']*100 %>%; background: <%=colors[theme['name']] %>" data-name="<%=theme['name']%>" data-value="<%=Math.round(theme['value']*10000)/100%>%"></div>
            <% }) %>
        </div>
    </div>
    <% }); %>
</script>

<div class="modal">
    <div class="modal__round"></div>
    <div class="modal__name"></div>
    <div class="modal__percent"></div>
</div>


<script src="../../../_vendors_/js/jquery/3.1.1/jquery.min.js"></script>
<script src="../../../_vendors_/js/underscore/1.8.3/underscore.js"></script>
<script type="text/javascript" src="js/second.js"></script>
</body>
</html>
