<!DOCTYPE html>
<html lang="ru-RU">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

    <title>Блоки</title>
    <!-- inject:css -->
    <link rel="stylesheet" href="./css/charts.css" />
    <!-- endinject -->
</head>
<body>
<div class="undertitle">Расходы кандидатов на предвыборную кампанию, млн. $</div>
<div class="charts__legend">
    <div class="charts__legend-item">
        <div class="charts__legend-name-trump">Дональд Трамп</div>
    </div>
    <div class="charts__legend-item">
        <div class="charts__legend-name-clinton">Хиллари Клинтон</div>
    </div>
</div>
<div class="charts">
</div>
<div class="source">
    Источник: www.bloomberg.com
</div>


<script type='text/template' id="line_chart">
    <% _.each(data.items, function(item) { %>
    <div class="chart__wrapper">
        <div class="chart">
            <div class="chart__items">
                <div class="chart__item chart__item_trump">
                    <div class="chart__count"><%=item['sum_trump'] %></div>
                    <% if(item['h2_trump'] != 0) { %>
                    <div class="chart__line chart__line2 chart__trump" style="height: <%=item['h2_trump'] %>px;"></div>
                    <% } %>
                    <div class="chart__line chart__trump" style="height: <%=item['height_trump'] %>px;"></div>
                </div>
                <div class="chart__item chart__item_clinton">
                    <div class="chart__count"><%=item['sum_clinton'] %></div>
                    <% if(item['h2_clinton'] != 0) { %>
                    <div class="chart__line chart__line2 chart__clinton" style="height: <%=item['h2_clinton'] %>px;"></div>
                    <% } %>
                    <div class="chart__line chart__clinton" style="height: <%=item['height_clinton'] %>px"></div>
                </div>
            </div>
        </div>
        <div class="chart__name"><%=item['article'] %></div>
    </div>
    <% }); %>
</script>
<div class="modal">
    <div class="modal__text-wrapper">
        <div class="modal__name"></div>
    </div>
    <div class="modal__more-wrapper">

    </div>
    <a href="#" class="modal__close">&#215;</a>

</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>

<!-- inject:js -->
<script type="text/javascript" src="./js/charts.js"></script>
<!-- endinject -->
</body>
</html>
