<!DOCTYPE html>
<html lang="ru-RU">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

    <title>Блоки</title>
    <!-- inject:css -->
    <link rel="stylesheet" href="./css/graphic.css" />
    <!-- endinject -->
</head>
<body>
<div class="undertitle">Как и почему менялся рейтинг кандидатов</div>
<div class="graphic" id="chart"></div>
<div class="source">
    Источник: elections.huffingtonpost.com
</div>

<script type='text/template' id="modal-tooltip">
    <div class="modal-tooltip" <%= item['styles'] %>>
        <div class="modal-tooltip__text-wrapper">
            <div class="modal-tooltip__name">
                <%= item['title'] %>
                <% if(item['fact_id'] == 44) { %>
                <span class="modal-tooltip__name-star">*</span>
                <% } %>
            </div>
            <div class="modal-tooltip__date">
                <%= item['date'] %>
            </div>
        </div>
        <div class="modal-tooltip__more-wrapper">
            <div class="modal-tooltip__more-item-header_trump">Трамп
                <div class="modal-tooltip__more-item-value_trump">
                    <%= item['trump'] %>
                </div>
            </div>
            <div class="modal-tooltip__more-item-header_clinton">Клинтон
                <div class="modal-tooltip__more-item-value_clinton">
                    <%= item['clinton'] %>
                </div>
            </div>
            <% if(item['text'] != '') { %>
            <div class="modal-tooltip__more-item">
                <%= item['text'] %>
            </div>
            <% } %>

            <% if(item['fact_id'] == 44) { %>
            <div class="modal-tooltip__more-item-startext">
                *организация запрещена в России
            </div>
            <% } %>

            <a href="#" class="modal-tooltip__close">&#215;</a>
        </div>
    </div>
</script>

<div class="modal">
    <div class="modal__text-wrapper">
        <div class="modal__name"></div>
    </div>
    <div class="modal__more-wrapper">

    </div>
    <a href="#" class="modal__close">&#215;</a>

</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>

<!-- inject:js -->
<script type="text/javascript" src="./js/graphic.js"></script>
<!-- endinject -->
</body>
</html>
