<!DOCTYPE html>
<html lang="ru-RU">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

    <title>Блоки</title>
    <!-- inject:css -->
    <link rel="stylesheet" href="./css/head.css" />
    <!-- endinject -->
</head>
<body>
<div class="title">
    Кандидаты в президенты США
</div>

<div class="candidates">
    <div class="candidate">
        <div class="candidate__images">
            <img class="candidate__images-pic candidate__images-pic_right trump" src="./images/trump.png" alt="Дональд Трамп" />
            <img class="candidate__images-pic candidate__images-pic_left pens" src="./images/trump2.png" alt="Майкл Ричард Пенс" />
        </div>
        <div class="candidate__item candidate__item_trump trump">
            <div class="candidate__tips candidate__tips_trump"></div>
            <div class="candidate__name">Дональд Трамп</div><br/>
            <div class="candidate__post">представитель Республиканской партии</div>
        </div>
        <div class="candidate__item candidate__item_trump pens">
            <div class="candidate__tips candidate__tips_trump"></div>
            <div class="candidate__name">Майкл Ричард Пенс</div><br/>
            <div class="candidate__post">кандидат в вице-президенты</div>
        </div>
    </div>
    <div class="candidate">
        <div class="candidate__images">
            <img class="candidate__images-pic candidate__images-pic_first clinton" src="./images/hillary.png" alt="Хиллари Клинтон" />
            <img class="candidate__images-pic candidate__images-pic_second kane" src="./images/hillary2.png" alt="Тимоти Майкл Кейн" />
        </div>
        <div class="candidate__item candidate__item_clinton clinton">
            <div class="candidate__tips candidate__tips_clinton"></div>
            <div class="candidate__name">Хиллари Клинтон</div><br/>
            <div class="candidate__post">представитель Демократической партии</div>
        </div>
        <div class="candidate__item candidate__item_clinton kane">
            <div class="candidate__tips candidate__tips_clinton"></div>
            <div class="candidate__name">Тимоти Майкл Кейн</div><br/>
            <div class="candidate__post">кандидат в вице-президенты</div>
        </div>
    </div>
</div>

<script type='text/template' id="modal">
    <div class="modal__text-wrapper">
        <div class="modal__name"><%= data['name'] %></div>
    </div>
    <div class="modal__more-wrapper">
        <% _.each(data.items, function(item) { %>
            <% if(item.hasOwnProperty('name')) { %>
            <div class="modal__more-item">
                <%= item['name'] %>
                <div class="modal__more-item-value">
                    <%= item['value'] %>
                </div>
            </div>
            <% } else { %>
                <div class="modal__more-text">
                    <%= item['value'] %>
                </div>
            <% } %>
        <% }); %>
    </div>
    <a href="#" class="modal__close">&#215;</a>
</script>
<div class="modal">
    <div class="modal__text-wrapper">
        <div class="modal__name"></div>
    </div>
    <div class="modal__more-wrapper">

    </div>
    <a href="#" class="modal__close">&#215;</a>

</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>

<!-- inject:js -->
<script type="text/javascript" src="./js/head.js"></script>
<!-- endinject -->
</body>
</html>
