<!DOCTYPE html>
<html lang="ru-RU">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

    <title>Блоки</title>
    <!-- inject:css -->
    <link rel="stylesheet" href="./css/pies.css" />
    <!-- endinject -->
</head>
<body>
<div class="undertitle">Сколько и на что тратили кандидаты​</div>
<div class="pies">
    <div class="pie">
        <div class="pie__wrapper">
            <div class="pie__item" id="pie_trump"></div>
        </div>
    </div>
    <div class="pie">
        <div class="pie__wrapper">
            <div class="pie__item" id="pie_clinton"></div>
        </div>
    </div>
</div>
<div class="source">
    Источник: www.bloomberg.com
</div>

<script type='text/template' id="modal-tooltip">
    <div class="modal-tooltip" <%= item['styles'] %>>
    <div class="modal-tooltip__more-wrapper">
        <div class="modal-tooltip__more-item">
            <%= item['name'] %>
            <div class="modal-tooltip__more-item-value">
                <%= item['value'] %>
            </div>
        </div>
        <a href="#" class="modal-tooltip__close">&#215;</a>
    </div>
    </div>
</script>
<div class="modal">
    <div class="modal__text-wrapper">
        <div class="modal__name"></div>
    </div>
    <div class="modal__more-wrapper">

    </div>
    <a href="#" class="modal__close">&#215;</a>

</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>

<!-- inject:js -->
<script type="text/javascript" src="./js/pies.js"></script>
<!-- endinject -->
</body>
</html>
