<!DOCTYPE html>
<html lang="ru-RU">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

    <title>Блоки</title>
    <!-- inject:css -->
    <link rel="stylesheet" href="./css/table.css" />
    <!-- endinject -->
</head>
<body>
<div class="undertitle">Расходы кандидатов на предвыборную кампанию в сравнении</div>
<table class="table">
    <thead>
    <tr>
        <th class="table__header_trump">Дональд Трамп<br/>$408.2 млн.</th>
        <th class="table__header"></th>
        <th class="table__header_clinton">Хиллари Клинтон<br/>$897.7 млн.</th>
    </tr>
    </thead>
    <tbody class="table__items">
    <tr class="table__item">
        <td class="table__item-trump">$122.4 млн.</td>
        <td class="table__item-name">Общие расходы</td>
        <td class="table__item-clinton">$122.4 млн.</td>
    </tr>
    </tbody>
</table>

<div class="table__startext">
    *Страхование жизни, здоровья кандидата и членов предвыборного штаба, а также услуги компаний-страховщиков
</div>
<div class="table__startext">
    **Аудио и видео оборудование для проведения мероприятий, работа компаний, предоставляющих оборудование
</div>

<script type='text/template' id="table">
    <% _.each(data.items, function(item) { %>
    <tr class="table__item">
        <td class="table__item-trump">
            <div class="table__item-trump-text">$<%= item['sum_trump'] %></div>
            <% if(item.hasOwnProperty('diam_trump')) { %>
            <% if(item['diam_trump'] < 16) { %>
            <div class="table__item-trump-round"
                 style="width: 16px;
                        height: 16px;
                        top: 17px;
                        left: 67px;">
            </div>
            <div class="table__item-trump-line"></div>
            <div class="table__item-trump-block"></div>
            <% } else {%>
            <div class="table__item-trump-round"
                 style="width:<%= item['diam_trump'] %>px;
                            height:<%= item['diam_trump'] %>px;
                            top: <%= (item['diam_trump']/2-25) * -1 %>px;
                            left: <%= 75 - item['diam_trump']/2 %>px;">
            </div>
            <div class="table__item-trump-line"></div>
            <div class="table__item-trump-block"></div>
            <% } %>
            <% } %>
        </td>
        <td class="table__item-name">
            <%= item['article'] %>
        </td>
        <td class="table__item-clinton">
            <div class="table__item-clinton-text">$<%= item['sum_clinton'] %></div>
            <% if(item.hasOwnProperty('diam_clinton')) { %>
            <% if(item['diam_clinton'] < 16) { %>
            <div class="table__item-clinton-round"
                 style="width: 16px;
                        height: 16px;
                        top: 17px;
                        right: 66px;">
            </div>
            <div class="table__item-clinton-line"></div>
            <div class="table__item-clinton-block"></div>
            <% } else { %>
            <div class="table__item-clinton-round"
                 style="width:<%= item['diam_clinton'] %>px;
                        height:<%= item['diam_clinton'] %>px;
                        top: <%= (item['diam_clinton']/2-25) * -1 %>px;
                        right: <%= 75 - item['diam_clinton']/2 %>px;">
            </div>
            <div class="table__item-clinton-line"></div>
            <div class="table__item-clinton-block"></div>
            <% } %>
            <% } %>
        </td>
    </tr>
    <% }); %>
</script>
<div class="modal">
    <div class="modal__text-wrapper">
        <div class="modal__name"></div>
    </div>
    <div class="modal__more-wrapper">

    </div>
    <a href="#" class="modal__close">&#215;</a>

</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>

<!-- inject:js -->
<script type="text/javascript" src="./js/table.js"></script>
<!-- endinject -->
</body>
</html>
