/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* Document
   ========================================================================== */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
}
/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}
/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}
/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}
/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0;
}
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}
/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}
/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}
/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}
/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}
/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}
/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}
/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block;
}
/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}
/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}
/**
 * Add the correct display in IE.
 */
template {
  display: none;
}
/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

@font-face {
  font-family: 'ALSStory';
  src: url('../fonts/ALSStory/als_story_bold_italic-webfont.eot');
  src: url('../fonts/ALSStory/als_story_bold_italic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/ALSStory/als_story_bold_italic-webfont.woff') format('woff'), url('../fonts/ALSStory/als_story_bold_italic-webfont.ttf') format('truetype'), url('../fonts/ALSStory/als_story_bold_italic-webfont.svg#als_storybold_italic') format('svg');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'ALSStory';
  src: url('../fonts/ALSStory/als_story_bold-webfont.eot');
  src: url('../fonts/ALSStory/als_story_bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/ALSStory/als_story_bold-webfont.woff') format('woff'), url('../fonts/ALSStory/als_story_bold-webfont.ttf') format('truetype'), url('../fonts/ALSStory/als_story_bold-webfont.svg#als_storybold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'ALSStory';
  src: url('../fonts/ALSStory/als_story_italic-webfont.eot');
  src: url('../fonts/ALSStory/als_story_italic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/ALSStory/als_story_italic-webfont.woff') format('woff'), url('../fonts/ALSStory/als_story_italic-webfont.ttf') format('truetype'), url('../fonts/ALSStory/als_story_italic-webfont.svg#als_storyitalic') format('svg');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'ALSStory';
  src: url('../fonts/ALSStory/als_story_regular-webfont.eot');
  src: url('../fonts/ALSStory/als_story_regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/ALSStory/als_story_regular-webfont.woff') format('woff'), url('../fonts/ALSStory/als_story_regular-webfont.ttf') format('truetype'), url('../fonts/ALSStory/als_story_regular-webfont.svg#als_storyregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'icon';
  src: url('../fonts/icons/icomoon.eot?vvkosh');
  src: url('../fonts/icons/icomoon.eot?vvkosh#iefix') format('embedded-opentype'), url('../fonts/icons/icomoon.ttf?vvkosh') format('truetype'), url('../fonts/icons/icomoon.woff?vvkosh') format('woff'), url('../fonts/icons/icomoon.svg?vvkosh#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  width: 100%;
  max-width: 770px;
  min-width: 640px;
  font-family: ALSStory;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.undertitle {
  font-size: 24px;
  font-weight: bold;
  color: #000000;
  line-height: 26px;
  margin-bottom: 30px;
  margin-top: 20px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: #000000;
  line-height: 26px;
  margin-bottom: 30px;
  -webkit-font-smoothing: antialiased;
  z-index: 4;
}
.title:after {
  width: 100%;
  height: 2px;
  display: block;
  margin-top: 20px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAACCAMAAABMg11sAAAABlBMVEX///+ioqGy3hdlAAAAD0lEQVQI12NgZGQAAQgFAAAyAAVrtfaDAAAAAElFTkSuQmCC);
  content: '';
}
.candidate {
  width: 47%;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: top;
  font-size: 0;
  -webkit-font-smoothing: antialiased;
}
.candidate:first-child {
  margin-right: 6%;
}
.candidates {
  width: 100%;
  font-size: 0;
  display: block;
  margin-bottom: 40px;
}
.candidates:after {
  width: 100%;
  height: 2px;
  display: block;
  margin-top: 40px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAACCAMAAABMg11sAAAABlBMVEX///+ioqGy3hdlAAAAD0lEQVQI12NgZGQAAQgFAAAyAAVrtfaDAAAAAElFTkSuQmCC);
  content: '';
}
.candidate__images {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #CDCDCD;
  margin-bottom: 10px;
  height: 200px;
  position: relative;
  overflow: hidden;
}
.candidate__images-pic {
  display: inline-block;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.candidate__images-pic_first {
  position: absolute;
  z-index: 2;
  bottom: -30px;
  left: 5%;
}
.candidate__images-pic_first.hover {
  transform: scale(1.1);
  margin-top: -8px;
  margin-bottom: 8px;
}
.candidate__images-pic_second {
  position: absolute;
  z-index: 1;
  bottom: -15px;
  right: 5%;
}
.candidate__images-pic_second.hover {
  transform: scale(1.1);
  margin-top: -5px;
  margin-bottom: 5px;
}
.candidate__images-pic_right {
  position: absolute;
  z-index: 2;
  bottom: -35px;
  right: 5%;
}
.candidate__images-pic_right.hover {
  transform: scale(1.1);
  margin-top: -8px;
  margin-bottom: 8px;
}
.candidate__images-pic_left {
  position: absolute;
  z-index: 1;
  bottom: -7px;
  left: 5%;
}
.candidate__images-pic_left.hover {
  transform: scale(1.1);
  margin-top: -5px;
  margin-bottom: 5px;
}
.candidate__tips {
  width: 15px;
  height: 15px;
  color: #ffffff;
  display: inline-block;
  margin-right: 10px;
  vertical-align: top;
  text-align: center;
  border-radius: 50%;
  font-size: 14px;
  line-height: 15px;
  margin-top: 2px;
}
.candidate__tips_trump {
  background: #DE5131;
}
.candidate__tips_clinton {
  background: #197BB1;
}
.candidate__item {
  width: 100%;
  display: inline-block;
  margin-bottom: 10px;
  vertical-align: top;
  font-size: 0;
  text-align: left;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.candidate__item:hover .candidate__name,
.candidate__item:hover .candidate__post,
.candidate__item.hover .candidate__name,
.candidate__item.hover .candidate__post {
  border-bottom: 1px dashed #ffffff;
}
.candidate__name {
  font-size: 16px;
  font-weight: bold;
  color: #000000;
  display: inline-block;
  text-align: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px dashed #8B8B8B;
  -webkit-font-smoothing: antialiased;
  z-index: 4;
}
.candidate__post {
  font-size: 16px;
  font-weight: normal;
  color: #000000;
  display: inline-block;
  text-align: left;
  margin-left: 25px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px dashed #8B8B8B;
  -webkit-font-smoothing: antialiased;
  z-index: 4;
}

.modal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 0;
  width: 404px;
  -webkit-box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.5);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 3;
  -webkit-font-smoothing: antialiased;
}
.modal__text-wrapper {
  width: 404px;
  display: inline-block;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 20px;
  border-bottom: 1px solid #DADADA;
  -webkit-font-smoothing: antialiased;
  z-index: 3;
}
.modal__name {
  font-size: 18px;
  font-weight: bold;
  color: #222222;
  margin-bottom: 5px;
  line-height: 22px;
  margin-right: 10px;
  -webkit-font-smoothing: antialiased;
  z-index: 3;
}
.modal__region {
  font-size: 14px;
  font-weight: normal;
  color: #222222;
  line-height: 17px;
  margin-bottom: 5px;
  -webkit-font-smoothing: antialiased;
  z-index: 3;
}
.modal__link-more {
  display: none;
  width: 100%;
  /*display: inline-block;*/
  padding: 15px;
  text-align: center;
  color: #18ca95;
  border-top: 1px solid #ebebeb;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}
.modal__more-wrapper {
  width: 100%;
  background: #ffffff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-font-smoothing: antialiased;
  z-index: 3;
}
.modal__more-item {
  font-size: 12px;
  color: #999999;
  line-height: 16px;
  font-weight: normal;
  margin-bottom: 10px;
  -webkit-font-smoothing: antialiased;
  z-index: 3;
}
.modal__more-item-value {
  font-size: 14px;
  color: #000000;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
  z-index: 3;
}
.modal__more-text {
  font-size: 14px;
  color: #000000;
  line-height: 16px;
  font-weight: normal;
  margin-bottom: 10px;
  -webkit-font-smoothing: antialiased;
  z-index: 3;
}
.modal__more-close {
  display: none;
  width: 100%;
  padding: 15px;
  text-align: center;
  color: #18ca95;
  border-top: 1px solid #ebebeb;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
}
.modal__close {
  display: none;
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 30px;
  text-decoration: none;
  color: #000000;
  -webkit-font-smoothing: antialiased;
  z-index: 3;
}
