<div class="bars">
    <ul class="bars__legend">
        <li class="bars__legend-item plus">доход, трлн руб.</li>
        <li class="bars__legend-item minus">расход, трлн руб.</li>
    </ul>

    <div class="bars__items"></div>
</div>

<script type='text/template' id="bars">
    <% _.each(data, function(item, key) { %>
    <% if(key > 2010) { %>
    <div class="bars__item" data-year="<%=key %>">
        <div class="bars__item-year"><%=key %></div>
        <div class="bars__item-in">
            <div class="bars__item-in-bar" style="width: <%=item['in_height'] %>%;"></div>
            <div class="bars__item-in-value"><%=item['in_2016_num'] %></div>
        </div>
        <div class="bars__item-out">
            <div class="bars__item-out-bar" style="width: <%=item['out_height'] %>%;"></div>
            <div class="bars__item-out-value"><%=item['out_2016_num'] %></div>
        </div>
    </div>
    <% } %>
    <% }); %>
</script>