.bars {
    width: 100%;

    &__legend {
        width: 100%;
        list-style: none;
        margin-bottom: 20px;
        padding-left: 0;

        &-item {
            display: inline-block;
            margin-right: 30px;
            font-size: 14px;
            font-weight:bold;
            line-height: 25px;
            vertical-align: middle;
            margin-bottom: 15px;

            &:last-child {
                margin-right: 0;
            }

            &.plus:before {
                content: '';
                width: 25px;
                height: 25px;
                display: inline-block;
                margin-right: 10px;
                background: #56cc90;
                vertical-align: middle;
            }

            &.minus:before {
                content: '';
                width: 25px;
                height: 25px;
                display: inline-block;
                margin-right: 10px;
                background: #df5a3c;
                vertical-align: middle;
            }
        }
    }

    &__items {
        width: 100%;
        display: inline-block;
        font-size:0;
    }

    &__item {
        width: 100%;
        display: inline-block;
        text-align: left;
        vertical-align: bottom;
        font-size: 0;
        margin-bottom: 25px;

        &:last-child {
            margin-right:0;
        }

        &-in {
            width: 100%;
            display: inline-block;
            text-align: left;

            &-value {
                font-size: 14px;
                font-weight: bold;
                vertical-align: bottom;
                margin-left: 10px;
                display: inline-block;
                line-height: 25px;
            }

            &-bar {
                height: 25px;
                background: #56cc90;
                display: inline-block;
                box-sizing: border-box;
            }
        }

        &-out {
            width: 100%;
            display: inline-block;
            text-align: left;

            &-value {
                font-size: 14px;
                font-weight: bold;
                vertical-align: bottom;
                margin-left: 10px;
                display: inline-block;
                line-height: 25px;
            }

            &-bar {
                height: 25px;
                background: #df5a3c;
                display: inline-block;
                box-sizing: border-box;
            }
        }

        &-year {
            width: 30px;
            display: inline-block;
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 5px;
        }
    }
}