@food-color: #42669E;
@drugs-color: #BFE0D6;
@nonfood-color: #6AB68A;
@ticket-color: #008293;
@fuel-color: #D4D1C2;

@font-color: #2D2D2D;

.border-box-sizing {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@import "reset";
@import "fonts";

body {
    width: 100%;
    max-width: 750px;
    padding: 20px 0px;
    .border-box-sizing;
    margin: 0 auto;
    font-family: ALSStory;
}

.base-goods {

    &__header {
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 20px;
        padding: 0 30px;

        &:after {
            width: 100%;
            height: 2px;
            display: block;
            margin-top: 20px;
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAACCAMAAABMg11sAAAABlBMVEX///+ioqGy3hdlAAAAD0lEQVQI12NgZGQAAQgFAAAyAAVrtfaDAAAAAElFTkSuQmCC);
            content: '';
        }
    }

    &__graphics {
        width: 100%;
        padding-bottom: 20px;

        &:after {
            margin: 0 30px;
            height: 2px;
            display: block;
            margin-top: 20px;
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAACCAMAAABMg11sAAAABlBMVEX///+ioqGy3hdlAAAAD0lEQVQI12NgZGQAAQgFAAAyAAVrtfaDAAAAAElFTkSuQmCC);
            content: '';
        }
    }

    &__graphic {
        width: 100%;
        display: inline-block;
        margin-bottom: 10px;
        font-size: 0;

        &-name {
            width: 150px;
            text-align: right;
            display: inline-block;
            font-size: 14px;
            .border-box-sizing;
            margin-right: 5px;
            vertical-align: bottom;
            color: @font-color;
        }

        &-item {
            display: inline-block;
            text-align: left;
            .border-box-sizing;
            margin-right: 5px;
        }

        &-header {
            font-size: 14px;
            color: @font-color;
            display: inline-block;
        }

        &-value {
            height: 12px;
            display: inline-block;
            .border-box-sizing;
            vertical-align: bottom;

            &:hover {
                border: 1px solid #000000;
            }
        }

        &-count {
            width: 35px;
            margin-left: 5px;
            font-size: 12px;
            text-align: left;
            color: @font-color;
            display: inline-block;
        }

        &-food {
            background: @food-color;
        }

        &-drugs {
            background: @drugs-color;
        }

        &-nonfood {
            background: @nonfood-color;
        }

        &-ticket {
            background: @ticket-color;
        }

        &-fuel {
            background: @fuel-color;
        }
    }
}