@rosstat-color: #6AB68A;
@real-color: #42669E;

@border-color: #CDCDCD;

@font-color: #2D2D2D;

.border-box-sizing {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@import "reset";
@import "fonts";

body {
    width: 100%;
    max-width: 770px;
    padding: 20px 10px;
    .border-box-sizing;
    margin: 0 auto;
    font-family: ALSStory;
}

.products-costs {
    width: 100%;

    &__header {
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 20px;

        &:after {
            width: 100%;
            height: 2px;
            display: block;
            margin-top: 20px;
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAACCAMAAABMg11sAAAABlBMVEX///+ioqGy3hdlAAAAD0lEQVQI12NgZGQAAQgFAAAyAAVrtfaDAAAAAElFTkSuQmCC);
            content: '';
        }
    }

    &__legend {
        width: 100%;
        display: inline-block;
        margin-bottom: 10px;
        font-size: 0;

        &-item {
            width: 100%;
            margin-bottom: 10px;
            display: inline-block;
            vertical-align: top;
        }

        &-name-rosstat {
            display: inline-block;
            font-size: 14px;
            color: @font-color;

            &:before {
                width: 12px;
                height: 12px;
                display: inline-block;
                background: @rosstat-color;
                position: relative;
                .border-box-sizing;
                content: '';
                margin-right: 10px;
                vertical-align: middle;
            }

            &:hover:before {
                border: 1px solid #000000;
            }
        }

        &-name-real {
            display: inline-block;
            font-size: 14px;
            color: @font-color;

            &:before {
                width: 12px;
                height: 12px;
                display: inline-block;
                background: @real-color;
                position: relative;
                .border-box-sizing;
                content: '';
                margin-right: 10px;
                vertical-align: middle;
            }

            &:hover:before {
                border: 1px solid #000000;
            }
        }
    }

    &__select {
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        border: 1px solid @border-color;
        display: inline-block;

        text-align: left;
        cursor: pointer;
        position: relative;
        margin-bottom: 30px;

        &-value {
            font-size: 14px;
            font-weight: bold;
            padding: 10px 20px;
            width: 210px;
            display: inline-block;

            &:after {
                font-family: spec;
                position: absolute;
                content: '\e313';
                font-size: 12px;
                color: @border-color;
                right: 15px;
                top: 12px;
            }
        }

        &-list {
            width: 100%;
            display: none;
            font-size: 14px;
            position: absolute;
            top: 35px;
            left: 0;
            background: #ffffff;
            z-index: 1;
            border-radius: 3px;
            -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
            -moz-box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
            box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            .border-box-sizing;
        }

        &-item {
            padding: 10px;
            width: 100%;
            .border-box-sizing;
            color: @font-color;

            &:hover {
                color: #00cd8e;
            }

            &_active {
                background: #00cd8e;
                cursor: default;

                &:hover {
                    color: @font-color;
               }
            }
        }
    }

    &__graphics {
        width: 100%;
        text-align: center;
    }

    &__graphic {
        width: 130px;
        display: inline-block;
        margin-bottom: 30px;
        font-size: 0;
        text-align: left;
        .border-box-sizing;

        &-rosstat {
            height: 12px;
            .border-box-sizing;
            display: inline-block;
            background: @rosstat-color;
            margin-bottom: 2px;

            &:hover {
                border: 1px solid #000000;
            }

            &-count {
                font-size: 12px;
                width: 35px;
                display: inline-block;
                text-align: left;
                margin-left: 5px;
                vertical-align: bottom;
                line-height: 12px;
            }
        }

        &-real {
            height: 12px;
            .border-box-sizing;
            display: inline-block;
            background: @real-color;

            &:hover {
                border: 1px solid #000000;
            }

            &-count {
                font-size: 12px;
                line-height: 12px;
                width: 35px;
                display: inline-block;
                text-align: left;
                margin-left: 5px;
                vertical-align: bottom;
            }
        }

        &-name {
            width: 100%;
            display: inline-block;
            font-size: 14px;
            .border-box-sizing;
            color: @font-color;
            text-align: left;
            margin-top: 10px;
        }
    }
}