@food-color: #42669E;
@drugs-color: #BFE0D6;
@nonfood-color: #6AB68A;
@ticket-color: #008293;
@fuel-color: #D4D1C2;

@font-color: #2D2D2D;

.border-box-sizing {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@import "reset";
@import "fonts";

body {
    width: 100%;
    max-width: 770px;
    padding: 20px 30px;
    .border-box-sizing;
    margin: 0 auto;
    font-family: ALSStory;
}

.base-goods {

    &__header {
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 20px;

        &:after {
            width: 100%;
            height: 2px;
            display: block;
            margin-top: 20px;
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAACCAMAAABMg11sAAAABlBMVEX///+ioqGy3hdlAAAAD0lEQVQI12NgZGQAAQgFAAAyAAVrtfaDAAAAAElFTkSuQmCC);
            content: '';
        }
    }

    &__legend {
        width: 100%;
        display: inline-block;
        margin-bottom: 30px;

        &-item {
            width: 40%;
            margin-bottom: 10px;
            display: inline-block;
        }

        &-name {
            display: inline-block;
            font-size: 14px;
            color: @font-color;
        }

        &-color {
            width: 12px;
            margin-right: 10px;
        }
    }

    &__graphics {
        width: 100%;
    }

    &__graphic {
        width: 100%;
        display: inline-block;
        margin-bottom: 10px;
        font-size: 0;

        &-name {
            width: 20%;
            text-align: right;
            display: inline-block;
            font-size: 14px;
            .border-box-sizing;
            padding-right: 20px;
            vertical-align: middle;
            color: @font-color;
        }

        &-line {
            width: 80%;
            display: inline-block;
            font-size: 0;
            height: 12px;
            vertical-align: middle;
            .border-box-sizing;

            &-food {
                background: @food-color;
                height: 12px;
                display: inline-block;
                .border-box-sizing;

                &:hover {
                    border: 1px solid #000;
                }
            }

            &-drugs {
                background: @drugs-color;
                height: 12px;
                display: inline-block;
                .border-box-sizing;

                &:hover {
                    border: 1px solid #000;
                }
            }

            &-nonfood {
                background: @nonfood-color;
                height: 12px;
                display: inline-block;
                .border-box-sizing;

                &:hover {
                    border: 1px solid #000;
                }
            }

            &-ticket {
                background: @ticket-color;
                height: 12px;
                display: inline-block;
                .border-box-sizing;

                &:hover {
                    border: 1px solid #000;
                }
            }

            &-fuel {
                background: @fuel-color;
                height: 12px;
                display: inline-block;
                .border-box-sizing;

                &:hover {
                    border: 1px solid #000;
                }
            }
        }
    }
}

.base-gds {

    &__header {
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 20px;
        font-style: normal;

        &:after {
            width: 100%;
            height: 2px;
            display: block;
            margin-top: 20px;
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAACCAMAAABMg11sAAAABlBMVEX///+ioqGy3hdlAAAAD0lEQVQI12NgZGQAAQgFAAAyAAVrtfaDAAAAAElFTkSuQmCC);
            content: '';
        }
    }

    &__graphics {
        width: 100%;
        display: table;
    }

    &__graphic {
        width: 100%;
        display: table-row;
        margin-bottom: 10px;
        font-size: 12px;

        &-name {
            width: 150px;
            text-align: right;
            display: table-cell;
            font-size: 14px;
            .border-box-sizing;
            padding-right: 20px;
            vertical-align: middle;
            color: @font-color;
        }

        &-food {
            width: 17%;
            display: table-cell;
            vertical-align: middle;
            .border-box-sizing;
            padding: 5px;

            &-line {
                .border-box-sizing;
                background: @food-color;
                height: 12px;
                margin-right: 5px;
                float: left;

                &:hover {
                    border: 1px solid #000;
                }
            }

            &-count {
                width: 30px;
                float: left;
            }
        }

        &-drugs {
            width: 17%;
            display: table-cell;
            vertical-align: middle;
            .border-box-sizing;
            padding: 5px;

            &-line {
                .border-box-sizing;
                height: 12px;
                background: @drugs-color;
                margin-right: 5px;

                &:hover {
                    border: 1px solid #000;
                }
            }
        }

        &-nonfood {
            width: 17%;
            display: table-cell;
            vertical-align: middle;
            .border-box-sizing;
            padding: 5px;

            &-line {
                height: 12px;
                background: @nonfood-color;
                .border-box-sizing;
                margin-right: 5px;

                &:hover {
                    border: 1px solid #000;
                }
            }
        }

        &-ticket {
            width: 17%;
            display: table-cell;
            vertical-align: middle;
            .border-box-sizing;
            padding: 5px;

            &-line {
                height: 12px;
                background: @ticket-color;
                .border-box-sizing;
                margin-right: 5px;

                &:hover {
                    border: 1px solid #000;
                }
            }
        }

        &-fuel {
            width: 17%;
            display: table-cell;
            vertical-align: middle;
            .border-box-sizing;
            padding: 5px;

            &-line {
                height: 12px;
                background: @fuel-color;
                .border-box-sizing;
                margin-right: 5px;

                &:hover {
                    border: 1px solid #000;
                }
            }
        }

    }
}