@costs-color: #67BEAD;
@salary-color: #DE5131;

@lines-color: #1E437D;

@border-color: #67BEAD;

@font-color: #2D2D2D;

.border-box-sizing {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@import "reset";
@import "fonts";

body {
    width: 100%;
    max-width: 750px;
    padding: 20px 0px;
    .border-box-sizing;
    margin: 0 auto;
    font-family: ALSStory;
}

.min-costs {

    &__header {
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 20px;
        padding: 0 30px;

        &:after {
            width: 100%;
            height: 2px;
            display: block;
            margin-top: 20px;
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAACCAMAAABMg11sAAAABlBMVEX///+ioqGy3hdlAAAAD0lEQVQI12NgZGQAAQgFAAAyAAVrtfaDAAAAAElFTkSuQmCC);
            content: '';
        }
    }

    &__legend {
        width: 100%;
        display: inline-block;
        font-size: 0;
        .border-box-sizing;
        padding: 0 30px;

        &-item {
            width: 100%;
            margin-bottom: 10px;
            display: inline-block;
            vertical-align: top;
        }

        &-name-costs {
            display: inline-block;
            font-size: 14px;
            color: @font-color;

            &:before {
                width: 12px;
                height: 12px;
                display: inline-block;
                background: @costs-color;
                position: relative;
                .border-box-sizing;
                content: '';
                margin-right: 10px;
                vertical-align: middle;
            }

            &:hover:before {
                border: 1px solid #000000;
            }
        }

        &-name-salary {
            display: inline-block;
            font-size: 14px;
            color: @font-color;

            &:before {
                width: 12px;
                height: 12px;
                display: inline-block;
                background: @salary-color;
                position: relative;
                .border-box-sizing;
                content: '';
                margin-right: 10px;
                vertical-align: middle;
            }

            &:hover:before {
                border: 1px solid #000000;
            }
        }
    }

    &__map {
        width: 100%;
    }

    &__graphics {
        width: 100%;

        &-header {
            .border-box-sizing;
            width: 100%;
            padding: 0 30px;
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 20px;
        }
    }

    &__graphic {
        width: 100%;
        display: inline-block;
        margin-bottom: 10px;
        font-size: 0;

        &-name {
            width: 150px;
            text-align: right;
            display: inline-block;
            font-size: 14px;
            .border-box-sizing;
            margin-right: 15px;
            vertical-align: bottom;
            color: @font-color;
        }

        &-value {
            height: 12px;
            display: inline-block;
            .border-box-sizing;
            vertical-align: bottom;
            background: @lines-color;

            &:hover {
                border: 1px solid #000000;
            }
        }

        &-count {
            width: 55px;
            margin-left: 5px;
            font-size: 12px;
            text-align: left;
            color: @font-color;
            display: inline-block;
        }
    }
}

.choosers {
    margin-top: 25px;
    margin-bottom: 35px;
    margin-left: 30px;
    border-collapse: collapse;
    font-size: 0;

    &__item {
        width: 125px;
        height: 32px;
        text-align: center;
        font-size: 14px;
        line-height: 32px;
        display: inline-block;
        border: 1px solid #cdcdcd;
        color: #000000;
        text-decoration: none;
        vertical-align: middle;
        margin-left: -1px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;

        &:hover {
            background: #18ca95;
            border: 1px solid #18ca95;
            color: #ffffff;
        }

        &_active {
            background: #18ca95;
            border: 1px solid #18ca95;
            color: #ffffff;
            cursor: default;
        }

        &:first-child {
            border-bottom-left-radius: 3px;
            border-top-left-radius: 3px;
            margin-left: 0;
        }

        &:last-child {
            border-bottom-right-radius: 3px;
            border-top-right-radius: 3px;
        }

        &-work {
            width: 150px;
        }
    }
}

.costs-modal {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 0;
    width: 404px;
    -webkit-box-shadow: 2px 4px 20px rgba(0,0,0,0.5);
    -moz-box-shadow: 2px 4px 20px rgba(0,0,0,0.5);
    box-shadow: 2px 4px 20px rgba(0,0,0,0.5);
    .border-box-sizing;

    &__text-wrapper {
        width: 404px;
        display: inline-block;
        vertical-align: middle;
        .border-box-sizing;
        padding: 10px 20px;
    }

    &__name {
        font-size: 18px;
        font-weight: bold;
        color: #222222;
        margin-bottom: 5px;
        line-height: 22px;
        margin-right: 10px;
    }

    &__region {
        font-size: 14px;
        font-weight: normal;
        color: #222222;
        line-height: 17px;
        margin-bottom: 5px;
    }

    &__link-more {
        display: none;
        width: 100%;
        /*display: inline-block;*/
        padding: 15px;
        text-align: center;
        color: #18ca95;
        border-top: 1px solid #ebebeb;
        .border-box-sizing;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
    }

    &__more-wrapper {
        width: 100%;
        background: #f9f8f8;
        .border-box-sizing;
        padding: 10px 20px;
    }

    &__more-work {
        font-size: 13px;
        color: #999999;
        line-height: 16px;
        font-weight: normal;
        margin-bottom: 10px;

        &-value {
            font-size: 16px;
            color: #222222;
            line-height: 20px;
        }
    }

    &__more-commerce {
        font-size: 13px;
        color: #999999;
        line-height: 16px;
        font-weight: normal;
        margin-bottom: 10px;

        &-value {
            font-size: 16px;
            color: #222222;
            line-height: 20px;
        }
    }

    &__more-election {
        font-size: 13px;
        color: #999999;
        line-height: 16px;
        font-weight: normal;
        margin-bottom: 10px;

        &-value {
            font-size: 16px;
            color: #222222;
            line-height: 20px;
        }
    }

    &__more-income {
        font-size: 13px;
        color: #999999;
        line-height: 16px;
        font-weight: normal;
        display: inline-block;
        margin-bottom: 10px;
        margin-right: 40px;

        &-value {
            display: inline-block;
            font-size: 16px;
            color: #222222;
            line-height: 20px;
        }
    }

    &__more-bank {
        font-size: 13px;
        color: #999999;
        line-height: 16px;
        font-weight: normal;
        display: inline-block;
        margin-bottom: 10px;

        &-value {
            display: inline-block;
            font-size: 16px;
            color: #222222;
            line-height: 20px;

        }
    }

    &__more-close {
        display: none;
        width: 100%;
        padding: 15px;
        text-align: center;
        color: #18ca95;
        border-top: 1px solid #ebebeb;
        .border-box-sizing;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
    }

    &__close {
        display: none;
        position: absolute;
        top: 5px;
        right: 5px;
        font-size: 30px;
        text-decoration: none;
        color: #000000;
    }
}