@under-color: #AED9CF;
@average-color: #6AB68A;
@pensioner-color: #008293;
@family-color: #509EFA;
@costs-color: #DE5131;

@font-color: #2D2D2D;

.border-box-sizing {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@import "reset";
@import "fonts";

body {
    width: 100%;
    max-width: 770px;
    padding: 20px 10px;
    .border-box-sizing;
    margin: 0 auto;
    font-family: ALSStory;
}

.month-costs {
    width: 100%;

    &__header {
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 20px;

        &:after {
            width: 100%;
            height: 2px;
            display: block;
            margin-top: 20px;
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAACCAMAAABMg11sAAAABlBMVEX///+ioqGy3hdlAAAAD0lEQVQI12NgZGQAAQgFAAAyAAVrtfaDAAAAAElFTkSuQmCC);
            content: '';
        }
    }

    &__legend {
        width: 100%;
        display: inline-block;
        margin-bottom: 30px;
        font-size: 0;

        &-item {
            width: 50%;
            margin-bottom: 10px;
            display: inline-block;
        }

        &-name-under {
            display: inline-block;
            font-size: 14px;
            color: @font-color;

            &:before {
                width: 12px;
                height: 12px;
                display: inline-block;
                background: @under-color;
                position: relative;
                .border-box-sizing;
                content: '';
                margin-right: 10px;
                vertical-align: middle;
            }

            &:hover:before {
                border: 1px solid #000000;
            }
        }

        &-name-family {
            display: inline-block;
            font-size: 14px;
            color: @font-color;

            &:before {
                width: 12px;
                height: 12px;
                display: inline-block;
                background: @family-color;
                position: relative;
                .border-box-sizing;
                content: '';
                margin-right: 10px;
                vertical-align: middle;
            }

            &:hover:before {
                border: 1px solid #000000;
            }
        }

        &-name-average {
            display: inline-block;
            font-size: 14px;
            color: @font-color;

            &:before {
                width: 12px;
                height: 12px;
                display: inline-block;
                background: @average-color;
                position: relative;
                .border-box-sizing;
                content: '';
                margin-right: 10px;
                vertical-align: middle;
            }

            &:hover:before {
                border: 1px solid #000000;
            }
        }

        &-name-costs {
            display: inline-block;
            font-size: 14px;
            color: @font-color;

            &:before {
                width: 12px;
                height: 12px;
                display: inline-block;
                background: @costs-color;
                position: relative;
                .border-box-sizing;
                content: '';
                margin-right: 10px;
                vertical-align: middle;
            }

            &:hover:before {
                border: 1px solid #000000;
            }
        }

        &-name-pensioner {
            display: inline-block;
            font-size: 14px;
            color: @font-color;

            &:before {
                width: 12px;
                height: 12px;
                display: inline-block;
                background: @pensioner-color;
                position: relative;
                .border-box-sizing;
                content: '';
                margin-right: 10px;
                vertical-align: middle;
            }

            &:hover:before {
                border: 1px solid #000000;
            }
        }
    }

    &__graphics {
        width: 100%;
        text-align: center;
    }

    &__graphic {
        width: 140px;
        height: 50px;
        display: inline-block;
        margin-bottom: 50px;
        margin-right: 5px;
        font-size: 0;
        text-align: center;
        .border-box-sizing;

        &-item {
            width: 12px;
            height: 50px;
            margin-right: 2px;
            display: inline-block;

            &:last-child {
                margin-right: 0;
            }
        }

        &-upline {
            width: 100%;
            .border-box-sizing;
            display: inline-block;
            vertical-align: bottom;

            &:hover {
                border: 1px solid #000000;
                border-bottom: none;
            }

            &:hover + .month-costs__graphic-downline {
                border: 1px solid #000000;
                border-top: none;
            }
        }

        &-downline {
            width: 100%;
            .border-box-sizing;
            display: inline-block;
            background: @costs-color;
            vertical-align: bottom;

            &:hover {
                border: 1px solid #000000;
            }
        }

        &-under {
            background: @under-color;
        }

        &-average {
            background: @average-color;
        }

        &-pensioner {
            background: @pensioner-color;
        }

        &-family {
            background: @family-color;
        }

        &-name {
            width: 100%;
            display: inline-block;
            font-size: 14px;
            .border-box-sizing;
            color: @font-color;
        }
    }
}