<!DOCTYPE html>
<html lang="ru-RU">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

    <title>Бюджет</title>
    <!-- inject:css -->
    <link rel="stylesheet" href="./css/bars_mobile.css" />
    <!-- endinject -->

</head>
<body>
<div class="bars">
    <ul class="bars__legend">
        <li class="bars__legend-item plus">доход, трлн руб.</li>
        <li class="bars__legend-item minus">расход, трлн руб.</li>
    </ul>

    <div class="bars__items"></div>
</div>

<script type='text/template' id="bars">
    <% _.each(data, function(item, key) { %>
    <% if(key > 2010) { %>
    <div class="bars__item" data-year="<%=key %>">
        <div class="bars__item-year"><%=key %></div>
        <div class="bars__item-in">
            <div class="bars__item-in-bar" style="width: <%=item['in_height'] %>%;"></div>
            <div class="bars__item-in-value"><%=item['in_2016_num'] %></div>
        </div>
        <div class="bars__item-out">
            <div class="bars__item-out-bar" style="width: <%=item['out_height'] %>%;"></div>
            <div class="bars__item-out-value"><%=item['out_2016_num'] %></div>
        </div>
    </div>
    <% } %>
    <% }); %>
</script>
<!-- inject:js -->
<script type="text/javascript" src="../../../_vendors_/js/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="../../../_vendors_/js/underscore/1.8.3/underscore.js"></script>
<script type="text/javascript" src="./js/bars_mobile.js"></script>
<!-- endinject -->

</body>
</html>