<!DOCTYPE html>
<html lang="ru-RU">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

    <title>Бюджет</title>
    <!-- inject:css -->
    <link rel="stylesheet" href="./css/debts.css" />
    <!-- endinject -->

</head>
<body>
<div class="choosers">
    <a class="choosers__item choosers__item_active" data-val="summ" href="#">Общий долг</a>
    <a class="choosers__item" data-val="perc" href="#">Долг в % ВВП</a>
</div>

<div class="graphic" id="container"></div>

<div class="source">
    Источник: roskazna.ru, economy.gov.ru
</div>

<div class="facts__title">Факты:</div>
<div class="facts">
    <div class="fact">
        <div class="fact__text">
            Внутренний долг России вырос с 2,1 трлн руб. в 2010 году до 7,3 трлн руб. в 2016 году
        </div>
    </div>
    <div class="fact">
        <div class="fact__text">
            Внешний долг России вырос с $40 млрд в 2011 году до $50 млрд в 2016 году
        </div>
    </div>
    <div class="fact">
        <div class="fact__text">
            В 2017 году размер госдолга составит 12,4 трлн руб., или 14,3% ВВП
        </div>
    </div>
    <div class="fact">
        <div class="fact__text">
            Доля внутреннего долга в общем объеме государственного долга вырастет с 66,7% в 2016 году до 75,2% в 2019 году
        </div>
    </div>
</div>

<script type='text/template' id="modal-tooltip">
    <div class="modal-tooltip" <%=item['styles'] %>>
    <div class="modal-tooltip__text-wrapper">
        <div class="modal-tooltip__name">
            <%= item['year'] %> год
        </div>
    </div>
    <div class="modal-tooltip__more-wrapper">
        <div class="modal-tooltip__more-item"><%=item['name'] %>
            <div class="modal-tooltip__more-item-value">
                <%= item['val'] %> руб.
            </div>
        </div>

        <a href="#" class="modal-tooltip__close">&#215;</a>
    </div>
    </div>
</script>

<script type='text/template' id="modal-tooltip-perc">
    <div class="modal-tooltip" <%=item['styles'] %>>
    <div class="modal-tooltip__text-wrapper">
        <div class="modal-tooltip__name">
            <%= item['year'] %> год
        </div>
    </div>
    <div class="modal-tooltip__more-wrapper">
        <div class="modal-tooltip__more-item">
            <div class="modal-tooltip__more-item-value">
                <%= item['perc'] %>% от ВВП
            </div>
            (<%=item['summ'] %> руб.)
        </div>

        <div class="modal-tooltip__more-item">ВВП<br/>
            <%= item['vvp'] %> руб.
        </div>

        <a href="#" class="modal-tooltip__close">&#215;</a>
    </div>
    </div>
</script>
<div class="modal">
    <div class="modal__text-wrapper">
        <div class="modal__name"></div>
    </div>
    <div class="modal__more-wrapper">

    </div>
    <a href="#" class="modal__close">&#215;</a>
</div>

<!-- inject:js -->
<script type="text/javascript" src="../../../_vendors_/js/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="../../../_vendors_/js/highcharts/v5.0.0/highcharts.js"></script>
<script type="text/javascript" src="../../../_vendors_/js/underscore/1.8.3/underscore.js"></script>
<script type="text/javascript" src="./js/debts.js"></script>
<!-- endinject -->

</body>
</html>