<!DOCTYPE html>
<html lang="ru-RU">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

    <title>Бюджет</title>
    <!-- inject:css -->
    <link rel="stylesheet" href="./css/expenses.css" />
    <!-- endinject -->

</head>
<body>
<div class="choosers">
    <div class="choosers__value"></div>
    <div class="choosers__list"></div>
</div>

<div class="chooser__item" data-choose="all">Показать все расходы</div>

<div class="graphics"></div>

<div class="underGraphic" id="maked"></div>

<div class="source">
    Источник: roskazna.ru, economy.gov.ru. Все данные приведены к ценам 2016 года
</div>

<ul class="legend"></ul>

<div class="facts__title">Факты:</div>
<div class="facts">
    <div class="fact">
        <div class="fact__text">
            В 2017 году финансирование стационарной медицинской помощи с учетом инфляции сократится в 2.5 раза по сравнению с 2012 годом
        </div>
    </div>
    <div class="fact">
        <div class="fact__text">
            Расходы федерального бюджета на дошкольное образование сократятся в 2017 году на 47,7% по сравнению с 2016 годом
        </div>
    </div>
    <div class="fact">
        <div class="fact__text">
            Доля расходов на ЖКХ упадет с 2,6% в 2011 году до 0,4% к 2017 году
        </div>
    </div>
    <div class="fact">
        <div class="fact__text">
            Отношение расходов на национальную оборону к ВВП выросло с 3,6% до 5% в 2016 году
        </div>
    </div>
</div>

<script type='text/template' id="modal-tooltip">
    <div class="modal-tooltip" <%=item['styles'] %>>
    <div class="modal-tooltip__text-wrapper">
        <div class="modal-tooltip__name">
            <%= item['year'] %> год
        </div>
    </div>
    <div class="modal-tooltip__more-wrapper">
        <div class="modal-tooltip__more-item">
            <div class="modal-tooltip__more-item-value">
                <%= item['perc'] %>% от бюджета
            </div>
            (<%= item['val'] %> руб.)
        </div>

        <% if(item['pin'] == 1) { %>
        <div class="modal-tooltip__more-item modal-tooltip__devider-up">
            <%= item['comment'] %>
        </div>
        <% } %>

        <a href="#" class="modal-tooltip__close">&#215;</a>
    </div>
    </div>
</script>

<script type='text/template' id="modal-tooltip-detail">
    <div class="modal-tooltip1" <%=item['styles'] %>>
    <% if(item['attr'] != 'l') { %>
    <div class="modal-tooltip1__text-wrapper">
        <div class="modal-tooltip1__name">
            <%= item['year'] %> год
        </div>
    </div>
    <% } %>
    <div class="modal-tooltip1__more-wrapper">
        <div class="modal-tooltip1__more-item">
            <div class="modal-tooltip1__more-item-value" <%=item['styles2'] %>>
            <%= item['val'] %> руб.
        </div>
    </div>

    <a href="#" class="modal-tooltip1__close">&#215;</a>
    </div>
    </div>
</script>

<script type='text/template' id="legend_item">
    <li class="legend__item">
        <span class="legend__item-name legend__item-name_var<%=item['class_add']+1 %>" title="<%=item['name'] %>"><%=item['short_name'] %></span>
    </li>
</script>
<div class="modal">
    <div class="modal__text-wrapper">
        <div class="modal__name"></div>
    </div>
    <div class="modal__more-wrapper">

    </div>
    <a href="#" class="modal__close">&#215;</a>
</div>

<!-- inject:js -->
<script type="text/javascript" src="../../../_vendors_/js/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="../../../_vendors_/js/highcharts/v5.0.0/highcharts.js"></script>
<script type="text/javascript" src="../../../_vendors_/js/underscore/1.8.3/underscore.js"></script>
<script type="text/javascript" src="./js/expenses.js"></script>
<!-- endinject -->

</body>
</html>