<!DOCTYPE html>
<html lang="ru-RU">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

    <title>Бюджет</title>
    <!-- inject:css -->
    <link rel="stylesheet" href="./css/income_test.css" />
    <!-- endinject -->

</head>
<body>
<div class="choosers">
    <div class="choosers__value">Все статьи доходов</div>
    <div class="choosers__list">
        <!--<div class="choosers__item" data-choose="all">Все статьи доходов</div>-->
    </div>
</div>

<div class="chooser__item" data-choose="all">Все статьи доходов</div>

<div class="graphics"></div>

<div class="underGraphic" id="maked"></div>

<ul class="legend"></ul>

<div class="facts">
    <div class="fact">
        <div class="fact__text">
            Доля внешнеэкономической деятельности в доходах государства упала с 37,6% в 2014 году до 19,2% в 2016 году.
        </div>
    </div>
    <div class="fact">
        <div class="fact__text">
            Доля налогов на реализуемые в РФ товары (НДС) в бюджетных доходах выросла с 12,1% в 2008 году до 24,5% в 2016 году
        </div>
    </div>
    <div class="fact">
        <div class="fact__text">
            Доходы бюджета от акциза на табачную продукцию вырастут в 2019 году в пять раз до 481 млрд руб.
        </div>
    </div>
    <div class="fact">
        <div class="fact__text">
            В 2016 году за счет продажи 19,5% «Роснефти» доходы от использования госимущества вырастут почти в два раза
        </div>
    </div>
</div>

<script type='text/template' id="modal-tooltip">
    <div class="modal-tooltip" <%=item['styles'] %>>
    <div class="modal-tooltip__text-wrapper">
        <div class="modal-tooltip__name">
            <%= item['year'] %> год
        </div>
    </div>
    <div class="modal-tooltip__more-wrapper">
        <div class="modal-tooltip__more-item">
            <div class="modal-tooltip__more-item-value">
                <%= item['perc'] %>% от бюджета
            </div>
            (<%= item['val'] %> руб.)
        </div>

        <% if(item['pin'] == 1) { %>
        <div class="modal-tooltip__more-item modal-tooltip__devider-up">
            <%= item['comment'] %>
        </div>
        <% } %>

        <a href="#" class="modal-tooltip__close">&#215;</a>
    </div>
    </div>
</script>

<script type='text/template' id="modal-tooltip-detail">
    <div class="modal-tooltip1" <%=item['styles'] %>>
    <% if(item['attr'] == 'l') { %>
    <div class="modal-tooltip1__text-wrapper">
        <div class="modal-tooltip1__name">
            <%= item['year'] %> год
        </div>
    </div>
    <% } %>
    <div class="modal-tooltip1__more-wrapper">
        <div class="modal-tooltip1__more-item">
            <div class="modal-tooltip1__more-item-value" <%=item['styles2'] %>>
                <%= item['val'] %> руб.
            </div>
        </div>

        <a href="#" class="modal-tooltip1__close">&#215;</a>
    </div>
    </div>
</script>

<script type='text/template' id="legend_item">
    <li class="legend__item">
        <span class="legend__item-name legend__item-name_var<%=item['class_add']+1 %>" title="<%=item['name'] %>"><%=item['short_name'] %></span>
    </li>
</script>
<div class="modal">
    <div class="modal__text-wrapper">
        <div class="modal__name"></div>
    </div>
    <div class="modal__more-wrapper">

    </div>
    <a href="#" class="modal__close">&#215;</a>
</div>

<!-- inject:js -->
<script type="text/javascript" src="../../../_vendors_/js/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="../../../_vendors_/js/highcharts/v5.0.0/highcharts.js"></script>
<script type="text/javascript" src="../../../_vendors_/js/underscore/1.8.3/underscore.js"></script>
<script type="text/javascript" src="./js/income_test.js"></script>
<!-- endinject -->

</body>
</html>