/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* Document
   ========================================================================== */
html {
    font-family: sans-serif;
    /* 1 */
    line-height: 1.15;
    /* 2 */
    -ms-text-size-adjust: 100%;
    /* 3 */
    -webkit-text-size-adjust: 100%;
    /* 3 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
    margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
    display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
    /* 1 */
    display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
    margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
    box-sizing: content-box;
    /* 1 */
    height: 0;
    /* 1 */
    overflow: visible;
    /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
    background-color: transparent;
    /* 1 */
    -webkit-text-decoration-skip: objects;
    /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
    outline-width: 0;
}

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
    border-bottom: none;
    /* 1 */
    text-decoration: underline;
    /* 2 */
    text-decoration: underline dotted;
    /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
    font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
    font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
    font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
    background-color: #ff0;
    color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
    display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
    border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
    overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
    font-family: sans-serif;
    /* 1 */
    font-size: 100%;
    /* 1 */
    line-height: 1.15;
    /* 1 */
    margin: 0;
    /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
    /* 1 */
    overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
    /* 1 */
    text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
    /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
    box-sizing: border-box;
    /* 1 */
    color: inherit;
    /* 2 */
    display: table;
    /* 1 */
    max-width: 100%;
    /* 1 */
    padding: 0;
    /* 3 */
    white-space: normal;
    /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
    display: inline-block;
    /* 1 */
    vertical-align: baseline;
    /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
    overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    outline-offset: -2px;
    /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
    -webkit-appearance: button;
    /* 1 */
    font: inherit;
    /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
    display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
    display: list-item;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
    display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
    display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
    display: none;
}

@font-face {
    font-family: 'ALSStory';
    src: url('../../../../_vendors_/fonts/ALSStory/als_story_bold_italic-webfont.eot');
    src: url('../../../../_vendors_/fonts/ALSStory/als_story_bold_italic-webfont.eot?#iefix') format('embedded-opentype'), url('../../../../_vendors_/fonts/ALSStory/als_story_bold_italic-webfont.woff') format('woff'), url('../../../../_vendors_/fonts/ALSStory/als_story_bold_italic-webfont.ttf') format('truetype'), url('../../../../_vendors_/fonts/ALSStory/als_story_bold_italic-webfont.svg#als_storybold_italic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'ALSStory';
    src: url('../../../../_vendors_/fonts/ALSStory/als_story_bold-webfont.eot');
    src: url('../../../../_vendors_/fonts/ALSStory/als_story_bold-webfont.eot?#iefix') format('embedded-opentype'), url('../../../../_vendors_/fonts/ALSStory/als_story_bold-webfont.woff') format('woff'), url('../../../../_vendors_/fonts/ALSStory/als_story_bold-webfont.ttf') format('truetype'), url('../../../../_vendors_/fonts/ALSStory/als_story_bold-webfont.svg#als_storybold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ALSStory';
    src: url('../../../../_vendors_/fonts/ALSStory/als_story_italic-webfont.eot');
    src: url('../../../../_vendors_/fonts/ALSStory/als_story_italic-webfont.eot?#iefix') format('embedded-opentype'), url('../../../../_vendors_/fonts/ALSStory/als_story_italic-webfont.woff') format('woff'), url('../../../../_vendors_/fonts/ALSStory/als_story_italic-webfont.ttf') format('truetype'), url('../../../../_vendors_/fonts/ALSStory/als_story_italic-webfont.svg#als_storyitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'ALSStory';
    src: url('../../../../_vendors_/fonts/ALSStory/als_story_regular-webfont.eot');
    src: url('../../../../_vendors_/fonts/ALSStory/als_story_regular-webfont.eot?#iefix') format('embedded-opentype'), url('../../../../_vendors_/fonts/ALSStory/als_story_regular-webfont.woff') format('woff'), url('../../../../_vendors_/fonts/ALSStory/als_story_regular-webfont.ttf') format('truetype'), url('../../../../_vendors_/fonts/ALSStory/als_story_regular-webfont.svg#als_storyregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    width: 100%;
    min-width: 320px;
    max-width: 640px;
    font-family: ALSStory, 'Helvetica CY', Arial, sans-serif;
    position: relative;
    font-size: 0;
    overflow-x: hidden;
}

.undertitle {
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    line-height: 26px;
    margin-bottom: 30px;
    margin-top: 10px;
    position: relative;
    z-index: 2;
}

.content {
    border-bottom: 1px solid #efefef;
    border-top: 1px solid #efefef;
    margin-top: 10px;
    padding: 10px 20px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.choosers {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #CDCDCD;
    display: inline-block;
    text-align: left;
    cursor: pointer;
    position: relative;
    margin-bottom: 30px;
    z-index: 5;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    background: #ffffff;
}
.choosers__value {
    font-size: 14px;
    padding: 5px 25px 5px 15px;
    width: 100%;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.choosers__value:after {
    content: '▼';
    font-size: 8px;
    display: block;
    position: absolute;
    top: 40%;
    right: 14px;
    width: 10px;
    height: 6px;
    /*//background: url(../images/arrow-menu.svg) no-repeat 0 0;
              background-size: 12px 8px;*/
}
.choosers__list {
    width: 100%;
    display: none;
    font-size: 14px;
    position: absolute;
    top: 0;
    left: 0;
    background: #ffffff;
    z-index: 1;
    border-radius: 3px;
    -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
}
.choosers__item {
    padding: 5px 0;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #2D2D2D;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
.choosers__item:last-child {
    border-bottom: none;
}
.choosers__item:hover {
    color: #00cd8e;
}
.choosers__item_active {
    color: #00cd8e;
    cursor: default;
    position: relative;
}
.choosers__item_active:after {
    content: '▼';
    font-size: 8px;
    display: block;
    position: absolute;
    top: 40%;
    right: 0;
    width: 10px;
    height: 6px;
}

.choosers__value-name,
.choosers__item-name {
    font-weight: bold;
    font-size: 16px;
    display: block;
    color: #000000;
}

.choosers__value-country,
.choosers__item-country {
    font-weight:normal;
    font-size: 16px;
    color: grey;
}

.choosers__item:hover .choosers__item-name,
.choosers__item.choosers__item_active .choosers__item-name {
    color: #18ca95;
}
.choosers__item:hover .choosers__item-country,
.choosers__item.choosers__item_active .choosers__item-country {
    color: #18ca95;
}

.words {
    width: 100%;
    display: block;
    vertical-align: bottom;
    margin-bottom:0;
    margin-top: -160px;
}

.words__image {
    text-align: center;

}

.words__image-file {
    margin: 0 auto;
    z-index: 2;
    position: relative;
    display: none;
}

.words__image-file.rus {
    display: block;
}

.svg-place {
    display: block;
    width: calc(100% + 40px);
    margin-left: -20px;
    height: 463px;
    position: relative;
    overflow: hidden;
    margin-top: -169px;
}

.bubble-node {
    fill: #3fc28a;
    z-index: 2;
}

.bubble-hover {
    fill: #52f9b2;
}

.active {
    color: #A6BA92
}

svg {
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.bubble-label {
    color: #ffffff;
    font-style: normal;
    cursor: default;
    display: block;
    text-align: center;
    text-decoration: none;
    line-height: 1em;
    position: absolute;
}

#bubble-labes {
    margin-top: -5px;
}

.tooltip {
    position: absolute;
    background: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 0;
    width: 150px;
    -webkit-box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.5);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    z-index: 21;
    padding: 0 15px 10px;
    visibility: hidden;
}

.tooltip__header {
    width: 150px;
    margin-left: -15px;
    display: inline-block;
    vertical-align: middle;
    /*-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;*/
    padding: 10px 0;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    font-weight: bold;
    color: #222222;
    margin-bottom: 5px;
    line-height: 22px;
    z-index: 3;
    text-align: center;
}

.bars__item {
    width: 100%;
    display: inline-block;
    text-align: left;
    vertical-align: bottom;
    font-size: 0;
    margin-bottom: 3px;
    border-bottom: 1px solid #efefef;
    padding-bottom: 2px;
}
.bars__item:last-child {
    border: none;
}
.bars__item-year {
    width: 35px;
    font-size: 13px;
    vertical-align: bottom;
    display: inline-block;
    text-align: left;
}
.bars__item-value {
    font-size: 13px;
    font-weight: bold;
    vertical-align: bottom;
    margin-left: 5px;
    display: inline-block;
    width: 15px;
}
.bars__item-bar {
    height: 15px;
    display: inline-block;
    background-color: transparent;
    width: 65px;
}

.bars__item-bar-value {
    height: 15px;
    background: #3fc28a;
    box-sizing: border-box;
}