<div class="choosers">
    <a class="choosers__item choosers__item_active" data-val="summ" href="#">Общий долг</a>
    <a class="choosers__item" data-val="perc" href="#">Долг в % ВВП</a>
</div>

<div class="graphic" id="container"></div>

<div class="source">
    Источник: roskazna.ru, economy.gov.ru
</div>

<div class="facts__title">Факты:</div>
<div class="facts">
    <div class="fact">
        <div class="fact__text">
            Внутренний долг России вырос с 2,1 трлн руб. в 2010 году до 7,3 трлн руб. в 2016 году
        </div>
    </div>
    <div class="fact">
        <div class="fact__text">
            Внешний долг России вырос с $40 млрд в 2011 году до $50 млрд в 2016 году
        </div>
    </div>
    <div class="fact">
        <div class="fact__text">
            В 2017 году размер госдолга составит 12,4 трлн руб., или 14,3% ВВП
        </div>
    </div>
    <div class="fact">
        <div class="fact__text">
            Доля внутреннего долга в общем объеме государственного долга вырастет с 66,7% в 2016 году до 75,2% в 2019 году
        </div>
    </div>
</div>

<script type='text/template' id="modal-tooltip">
    <div class="modal-tooltip" <%=item['styles'] %>>
    <div class="modal-tooltip__text-wrapper">
        <div class="modal-tooltip__name">
            <%= item['year'] %> год
        </div>
    </div>
    <div class="modal-tooltip__more-wrapper">
        <div class="modal-tooltip__more-item"><%=item['name'] %>
            <div class="modal-tooltip__more-item-value">
                <%= item['val'] %> руб.
            </div>
        </div>

        <a href="#" class="modal-tooltip__close">&#215;</a>
    </div>
    </div>
</script>

<script type='text/template' id="modal-tooltip-perc">
    <div class="modal-tooltip" <%=item['styles'] %>>
    <div class="modal-tooltip__text-wrapper">
        <div class="modal-tooltip__name">
            <%= item['year'] %> год
        </div>
    </div>
    <div class="modal-tooltip__more-wrapper">
        <div class="modal-tooltip__more-item">
            <div class="modal-tooltip__more-item-value">
                <%= item['perc'] %>% от ВВП
            </div>
            (<%=item['summ'] %> руб.)
        </div>

        <div class="modal-tooltip__more-item">ВВП<br/>
            <%= item['vvp'] %> руб.
        </div>

        <a href="#" class="modal-tooltip__close">&#215;</a>
    </div>
    </div>
</script>