.choosers {
    margin-top: 25px;
    margin-bottom: 35px;
    border-collapse: collapse;
    font-size: 0;

    &__item {
        width: 125px;
        height: 32px;
        text-align: center;
        font-size: 14px;
        line-height: 32px;
        display: inline-block;
        border: 1px solid #cdcdcd;
        color: #000000;
        text-decoration: none;
        margin-left: -1px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        vertical-align: middle;

        &:first-child {
            border-bottom-left-radius: 3px;
            border-top-left-radius: 3px;
            margin-left: 0;
        }

        &:last-child {
            border-bottom-right-radius: 3px;
            border-top-right-radius: 3px;
        }

        &:hover {
            background: #18ca95;
            border: 1px solid #18ca95;
            color: #ffffff;
        }

        &_active {
            background: #18ca95;
            border: 1px solid #18ca95;
            color: #ffffff;
            cursor: default;
        }
    }
}

.legend {
    width: auto;
    list-style: none;
    padding-left: 5px;
    margin-bottom: 20px;
    display: inline-block;

    &__item {
        display: inline-block;
        margin-right: 60px;
        font-size: 14px;
        font-weight: bold;
        line-height: 25px;
        vertical-align: middle;
        width: 190px;

        &:last-child {
            margin-right: 0;
        }

        &.in:before {
            content: '';
            width: 25px;
            height: 25px;
            display: inline-block;
            margin-right: 10px;
            background: #56cc90;
            vertical-align: middle;
        }

        &.out:before {
            content: '';
            width: 25px;
            height: 25px;
            display: inline-block;
            margin-right: 10px;
            background: #ed8908;
            vertical-align: middle;
        }
    }
}

.modal-tooltip {
    position: absolute;
    bottom: 0;
    left: 20px;
    background: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 0;
    width: 300px;
    -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 20px;
    z-index: 10;

    &__text-wrapper {
        width: 100%;
        display: inline-block;
        vertical-align: middle;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;;
        text-align: left;
        padding: 15px 0;
        border-bottom: 1px solid #DADADA;
    }

    &__name {
        /*width: 100%;*/
        display: inline-block;
        font-size: 16px;
        font-weight: bold;
        color: #222222;
        line-height: 22px;
        text-align: left;
        white-space: normal;
    }

    &__date {
        font-size: 14px;
        font-weight: normal;
        color: #2d2d2d;
        line-height: 17px;
        margin-bottom: 5px;
    }

    &__devider-up {
        border-top: 1px solid #DADADA;
        padding-top: 10px;
    }

    &__more-wrapper {
        width: 100%;
        background: #ffffff;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;;
        padding: 10px 0;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }

    &__more-item {
        font-size: 13px;
        color: #000000;
        line-height: 21px;
        font-weight: normal;
        margin-bottom: 10px;
        display: block;
        word-wrap: break-word;
        white-space: normal;

        &-value {
            font-size: 13px;
            color: #000000;
            line-height: 15px;
            font-weight: bold;
        }
    }


    &__more-close {
        display: none;
        width: 100%;
        padding: 15px;
        text-align: center;
        color: #18ca95;
        border-top: 1px solid #ebebeb;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
    }

    &__close {
        display: none;
        position: absolute;
        top: 5px;
        right: 5px;
        font-size: 30px;
        text-decoration: none;
        color: #000000;
    }
}