body {
  width: 100%;
  max-width: 750px;
  min-width: 640px;
  font-family: ALSStory, 'Helvetica CY', Arial, sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.vich {
  min-width: 310px;
  max-width: 840px;
  padding-bottom: 30px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.08);
}
.vich__total {
  font-weight: bold;
  font-size: 42px;
  margin-bottom: 20px;
  margin-left: 30px;
}
.vich__total-name {
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
  display: inline-block;
  width: 250px;
}
.vich__map {
  height: 500px;
}
.vich__startext {
  color: #aaaaaa;
  font-size: 11px;
  font-weight: normal;
  line-height: 20px;
  margin-top: 10px;
}
.vich__title {
  font-weight: bold;
  font-size: 28px;
  line-height: 38px;
  padding: 20px 0 20px 30px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.08);
  margin-bottom: 20px;
}
.vich__total-star {
  color: #aaaaaa;
  margin-left: 5px;
}
.vich__time {
  color: #979797;
  font-size: 14px;
  line-height: 17px;
}
.vich__name {
  font-weight: bold;
  font-size: 16px;
  display: block;
  border-bottom: solid 1px rgba(0, 0, 0, 0.08);
  padding: 5px 0;
  margin: 0 10px 10px;
}
.vich__value {
  font-size: 13px;
  display: block;
  margin: 0 10px 5px;
}
.vich__poll {
  font-size: 0;
}
.vich__percent {
  font-size: 42px;
  font-weight: bold;
  padding: 20px 0 25px 30px;
  display: inline-block;
  vertical-align: top;
}
.vich__text {
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  padding: 22px 0 25px 15px;
  display: inline-block;
  vertical-align: top;
}
.vich__legend__item {
  display: inline-block;
  padding-left: 30px;
  vertical-align: bottom;
  font-size: 12px;
}
.vich__legend__icon {
  border-radius: 16px;
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: 5px;
  vertical-align: bottom;
}
.vich-modal {
  top: 0;
  left: 0;
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 0;
  width: 304px;
  -webkit-box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.5);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: ALSStory;
}
.vich-modal__text-wrapper {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 20px;
}
.vich-modal__name {
  font-size: 18px;
  font-weight: bold;
  color: #222222;
  margin-bottom: 5px;
  line-height: 22px;
  margin-right: 10px;
  white-space: normal;
}
.vich-modal__region {
  font-size: 14px;
  font-weight: normal;
  color: #222222;
  line-height: 17px;
  margin-bottom: 5px;
}
.vich-modal__link-more {
  display: none;
  width: 100%;
  /*display: inline-block;*/
  padding: 15px;
  text-align: center;
  color: #18ca95;
  border-top: 1px solid #ebebeb;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}
.vich-modal__more-wrapper {
  width: 100%;
  background: #f9f8f8;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 20px;
}
.vich-modal__more {
  font-size: 13px;
  color: #999999;
  line-height: 16px;
  font-weight: normal;
  margin-bottom: 10px;
}
.vich-modal__more-value {
  font-size: 16px;
  color: #222222;
  line-height: 20px;
}
.vich-modal__more-close {
  display: none;
  width: 100%;
  padding: 15px;
  text-align: center;
  color: #18ca95;
  border-top: 1px solid #ebebeb;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}
.vich-modal__close {
  display: none;
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 30px;
  text-decoration: none;
  color: #000000;
}
.vich__legend__icon.icon1 {
  background: #50CD8E;
}
.vich__legend__icon.icon2 {
  background: #E7B44E;
}
.vich__legend__icon.icon3 {
  background: #E15935;
}
.vich__legend__icon.icon4 {
  background: #C33412;
}
.vich__legend__icon.icon5 {
  background: #A40A00;
}
