<div class="bars">
    <ul class="bars__legend">
        <li class="bars__legend-item plus">доход, трлн руб.</li>
        <li class="bars__legend-item minus">расход, трлн руб.</li>
    </ul>

    <div class="bars__items"></div>
</div>
<div class="source">
    Источник: roskazna.ru, economy.gov.ru. Все данные приведены к ценам 2016 года
</div>

<div class="facts__title">Факты:</div>
<div class="facts">
    <div class="fact">
        <div class="fact__text">
            Доходы бюджета в 2017 году с поправкой на инфляцию будут на 28% меньше, чем в 2014 году
        </div>
    </div>
    <div class="fact">
        <div class="fact__text">
            Дефицит бюджета снизится с 18,5% в 2016 году до 7% в 2019 году
        </div>
    </div>
    <div class="fact">
        <div class="fact__text">
            Доля нефтегазовых доходов упадет с 50% в 2014 году до 36% в 2016 году
        </div>
    </div>
    <div class="fact">
        <div class="fact__text">
            Расходы бюджета с учетом инфляции снизятся в 2017 году по сравнению с 2014 годом  на 15,7%
        </div>
    </div>
</div>

<script type='text/template' id="bars">
    <% _.each(data, function(item, key) { %>
    <% if(key > 2010) { %>
    <div class="bars__item" data-year="<%=key %>">
        <div class="bars__item-in">
            <div class="bars__item-in-value"><%=item['in_2016_num'] %></div>
            <div class="bars__item-in-bar" style="height: <%=item['in_height'] %>px;"></div>
        </div>
        <div class="bars__item-out">
            <div class="bars__item-out-value"><%=item['out_2016_num'] %></div>
            <div class="bars__item-out-bar" style="height: <%=item['out_height'] %>px;"></div>
        </div>
        <div class="bars__item-year"><%=key %></div>
    </div>
    <% } %>
    <% }); %>
</script>