.bars {
    width: 100%;

    &__legend {
        width: 100%;
        list-style: none;
        padding-left: 5px;
        margin-bottom: 30px;

        &-item {
            display: inline-block;
            margin-right: 60px;
            font-size: 14px;
            font-weight: bold;
            line-height: 25px;
            vertical-align: middle;

            &:last-child {
                margin-right: 0;
            }

            &.plus:before {
                content: '';
                width: 25px;
                height: 25px;
                display: inline-block;
                margin-right: 10px;
                background: #56cc90;
                vertical-align: middle;
            }

            &.minus:before {
                content: '';
                width: 25px;
                height: 25px;
                display: inline-block;
                margin-right: 10px;
                background: #df5a3c;
                vertical-align: middle;
            }
        }
    }

    &__items {
        width: 100%;
        display: inline-block;
        font-size:0;
    }

    &__item {
        width: 10%;
        display: inline-block;
        text-align: center;
        vertical-align: bottom;
        font-size: 0;
        margin-right: 5px;

        &:last-child {
            margin-right:0;
        }

        &-in {
            width: 50%;
            display: inline-block;
            text-align: right;

            &-value {
                font-size: 13px;
                font-weight: bold;
                vertical-align: bottom;
                margin-right: 5px;
                margin-bottom: 3px;
            }

            &-bar {
                width: 25px;
                background: #56cc90;
                display: inline-block;
                box-sizing: border-box;

                /*&:hover {
                    border: 1px solid #000000;
                }*/
            }
        }

        &-out {
            width: 50%;
            display: inline-block;
            text-align: left;

            &-value {
                font-size: 13px;
                font-weight: bold;
                vertical-align: bottom;
                margin-left: 5px;
                margin-bottom: 3px;
            }

            &-bar {
                width: 25px;
                background: #df5a3c;
                display: inline-block;
                box-sizing: border-box;

               /* &:hover {
                    border: 1px solid #000000;
                }*/
            }
        }

        &-year {
            width: 30px;
            display: inline-block;
            font-size: 13px;
            font-weight:bold;
            margin-top: 10px;
        }
    }
}