<!DOCTYPE html>
<html lang="ru-RU">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

    <title>Бюджет</title>
    <!-- inject:css -->
    <link rel="stylesheet" href="./css/bars.css" />
    <!-- endinject -->

</head>
<body>
<div class="bars">
    <ul class="bars__legend">
        <li class="bars__legend-item plus">доход, трлн руб.</li>
        <li class="bars__legend-item minus">расход, трлн руб.</li>
    </ul>

    <div class="bars__items"></div>
</div>
<div class="source">
    Источник: roskazna.ru, economy.gov.ru. Все данные приведены к ценам 2016 года
</div>

<div class="facts__title">Факты:</div>
<div class="facts">
    <div class="fact">
        <div class="fact__text">
            Доходы бюджета в 2017 году с поправкой на инфляцию будут на 28% меньше, чем в 2014 году
        </div>
    </div>
    <div class="fact">
        <div class="fact__text">
            Дефицит бюджета снизится с 3,8% в 2016 году до 1,2% в 2019 году
        </div>
    </div>
    <div class="fact">
        <div class="fact__text">
            Доля нефтегазовых доходов упадет с 50% в 2014 году до 36% в 2016 году
        </div>
    </div>
    <div class="fact">
        <div class="fact__text">
            Расходы бюджета с учетом инфляции снизятся в 2017 году по сравнению с 2014 годом  на 15,7%
        </div>
    </div>
</div>

<script type='text/template' id="bars">
    <% _.each(data, function(item, key) { %>
    <% if(key > 2010) { %>
    <div class="bars__item" data-year="<%=key %>">
        <div class="bars__item-in">
            <div class="bars__item-in-value"><%=item['in_2016_num'] %></div>
            <div class="bars__item-in-bar" style="height: <%=item['in_height'] %>px;"></div>
        </div>
        <div class="bars__item-out">
            <div class="bars__item-out-value"><%=item['out_2016_num'] %></div>
            <div class="bars__item-out-bar" style="height: <%=item['out_height'] %>px;"></div>
        </div>
        <div class="bars__item-year"><%=key %></div>
    </div>
    <% } %>
    <% }); %>
</script>
<div class="modal">
    <div class="modal__text-wrapper">
        <div class="modal__name"></div>
    </div>
    <div class="modal__more-wrapper">

    </div>
    <a href="#" class="modal__close">&#215;</a>
</div>

<!-- inject:js -->
<script type="text/javascript" src="../../../_vendors_/js/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="../../../_vendors_/js/underscore/1.8.3/underscore.js"></script>
<script type="text/javascript" src="./js/bars.js"></script>
<!-- endinject -->

</body>
</html>