<!DOCTYPE html>
<html lang="ru-RU">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

    <title>Бюджет</title>
    <!-- inject:css -->
    <link rel="stylesheet" href="./css/hidden.css" />
    <!-- endinject -->

</head>
<body>
<div class="choosers">
    <div class="choosers__value"></div>
    <div class="choosers__list">
        <div class="choosers__item" data-choose="all">Все статьи</div>
    </div>
</div>

<div class="graphic" id="container"></div>

<div class="source">
    Источник: roskazna.ru, economy.gov.ru
</div>

<div class="facts__title">Факты:</div>
<div class="facts">
    <div class="fact">
        <div class="fact__text">
            Кроме ассигнований на военных и силовиков чаще всего засекречивают траты на общегосударственные вопросы и  национальную экономику
        </div>
    </div>
    <div class="fact">
        <div class="fact__text">
            В 2016 году доля секретных расходов в разделе «национальная оборона» составила 71,9%
        </div>
    </div>
    <div class="fact">
        <div class="fact__text">
            Доля секретных расходов в федеральном бюджете выросла с 11,6% в 2012 году до 21,8% в 2016 году
        </div>
    </div>
</div>

<script type='text/template' id="modal-tooltip">
    <div class="modal-tooltip" <%=item['styles'] %>>
    <div class="modal-tooltip__text-wrapper">
        <div class="modal-tooltip__name">
            <%= item['year'] %> год
        </div>
    </div>
    <div class="modal-tooltip__more-wrapper">
        <div class="modal-tooltip__more-item"><%=item['name'] %>
            <div class="modal-tooltip__more-item-value">
                <%= item['val'] %> руб.
            </div>
        </div>

        <% if(item['name']=="Скрытые расходы") { %>
            <div class="modal-tooltip__more-item">Процент скрытых расходов:
                <div class="modal-tooltip__more-item-value">
                <%=item['perc'] %>%
                </div>
            </div>
        <% } %>

        <a href="#" class="modal-tooltip__close">&#215;</a>
    </div>
    </div>
</script>
<div class="modal">
    <div class="modal__text-wrapper">
        <div class="modal__name"></div>
    </div>
    <div class="modal__more-wrapper">

    </div>
    <a href="#" class="modal__close">&#215;</a>
</div>

<!-- inject:js -->
<script type="text/javascript" src="../../../_vendors_/js/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="../../../_vendors_/js/highcharts/v5.0.0/highcharts.js"></script>
<script type="text/javascript" src="../../../_vendors_/js/underscore/1.8.3/underscore.js"></script>
<script type="text/javascript" src="./js/hidden.js"></script>
<!-- endinject -->

</body>
</html>