<div class="choosers">
    <div class="choosers__value"></div>
    <div class="choosers__list">
        <div class="choosers__item" data-choose="all">Все статьи</div>
    </div>
</div>

<div class="graphic" id="container"></div>

<div class="source">
    Источник: roskazna.ru, economy.gov.ru
</div>

<div class="facts__title">Факты:</div>
<div class="facts">
    <div class="fact">
        <div class="fact__text">
            Кроме ассигнований на военных и силовиков чаще всего засекречивают траты на общегосударственные вопросы и  национальную экономику
        </div>
    </div>
    <div class="fact">
        <div class="fact__text">
            В 2016 году доля секретных расходов в разделе «национальная оборона» составила 71,9%
        </div>
    </div>
    <div class="fact">
        <div class="fact__text">
            Доля секретных расходов в федеральном бюджете выросла с 11,6% в 2012 году до 21,8% в 2016 году
        </div>
    </div>
</div>

<script type='text/template' id="modal-tooltip">
    <div class="modal-tooltip" <%=item['styles'] %>>
    <div class="modal-tooltip__text-wrapper">
        <div class="modal-tooltip__name">
            <%= item['year'] %> год
        </div>
    </div>
    <div class="modal-tooltip__more-wrapper">
        <% _.each(item['points'], function(it, key) { %>
        <div class="modal-tooltip__more-item"><%=it['series']['name'] %>
            <div class="modal-tooltip__more-item-value">
                <%= formatSumm(it['point']['y']) %> руб.
            </div>
        </div>

        <% if(it['series']['name']=="Скрытые расходы") { %>
        <div class="modal-tooltip__more-item">Процент скрытых расходов:
            <div class="modal-tooltip__more-item-value">
                <%=Math.round(it['point']['perc'] * 10) / 10 %>%
            </div>
        </div>
        <% } %>

        <% }); %>



        <a href="#" class="modal-tooltip__close">&#215;</a>
    </div>
    </div>
</script>