.modal {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 0;
    width: 304px;
    -webkit-box-shadow: 2px 4px 20px rgba(0,0,0,0.5);
    -moz-box-shadow: 2px 4px 20px rgba(0,0,0,0.5);
    box-shadow: 2px 4px 20px rgba(0,0,0,0.5);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 3;
    -webkit-font-smoothing: antialiased;

    &__text-wrapper {
        width: 100%;
        display: inline-block;
        vertical-align: middle;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;;
        padding: 10px 20px;
        border-bottom: 1px solid #DADADA;
        -webkit-font-smoothing: antialiased;
        z-index: 3;
    }

    &__name {
        font-size: 18px;
        font-weight: bold;
        color: #222222;
        margin-bottom: 5px;
        line-height: 22px;
        margin-right: 10px;
        -webkit-font-smoothing: antialiased;
        z-index: 3;
    }

    &__region {
        font-size: 14px;
        font-weight: normal;
        color: #222222;
        line-height: 17px;
        margin-bottom: 5px;
        -webkit-font-smoothing: antialiased;
        z-index: 3;
    }

    &__link-more {
        display: none;
        width: 100%;
        /*display: inline-block;*/
        padding: 15px;
        text-align: center;
        color: #18ca95;
        border-top: 1px solid #ebebeb;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
    }

    &__more-wrapper {
        width: 100%;
        background: #ffffff;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;;
        padding: 10px 20px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -webkit-font-smoothing: antialiased;
        z-index: 3;
    }

    &__more-item {
        font-size: 12px;
        color: #999999;
        line-height: 16px;
        font-weight: normal;
        margin-bottom: 10px;
        -webkit-font-smoothing: antialiased;
        z-index: 3;

        &-value {
            font-size: 14px;
            color: #000000;
            line-height: 20px;
            -webkit-font-smoothing: antialiased;
            z-index: 3;
        }
    }

    &__more-text {
        font-size: 14px;
        color: #000000;
        line-height: 16px;
        font-weight: normal;
        margin-bottom: 10px;
        -webkit-font-smoothing: antialiased;
        z-index: 3;
    }


    &__more-close {
        display: none;
        width: 100%;
        padding: 15px;
        text-align: center;
        color: #18ca95;
        border-top: 1px solid #ebebeb;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
        -webkit-font-smoothing: antialiased;
    }

    &__close {
        display: none;
        position: absolute;
        top: 5px;
        right: 5px;
        font-size: 30px;
        text-decoration: none;
        color: #000000;
        -webkit-font-smoothing: antialiased;
        z-index: 3;
    }
}