@food-color: #42669E;
@drugs-color: #BFE0D6;
@nonfood-color: #6AB68A;
@ticket-color: #008293;
@fuel-color: #D4D1C2;

@font-color: #2D2D2D;

.border-box-sizing {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@import "reset";
@import "fonts";

body {
    width: 100%;
    max-width: 750px;
    padding: 20px 0px;
    .border-box-sizing;
    font-family: ALSStory;
}

.base-goods {

    &__header {
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 20px;
        padding: 0 30px;

        &:after {
            width: 100%;
            height: 2px;
            display: block;
            margin-top: 20px;
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAACCAMAAABMg11sAAAABlBMVEX///+ioqGy3hdlAAAAD0lEQVQI12NgZGQAAQgFAAAyAAVrtfaDAAAAAElFTkSuQmCC);
            content: '';
        }
    }

    &__graphics {
        width: 100%;
        padding-bottom: 20px;

        &:after {
            margin: 0 30px;
            height: 2px;
            display: block;
            margin-top: 20px;
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAACCAMAAABMg11sAAAABlBMVEX///+ioqGy3hdlAAAAD0lEQVQI12NgZGQAAQgFAAAyAAVrtfaDAAAAAElFTkSuQmCC);
            content: '';
        }
    }

    &__graphic {
        width: 100%;
        display: inline-block;
        margin-bottom: 10px;
        font-size: 0;

        &-name {
            width: 175px;
            text-align: right;
            display: inline-block;
            font-size: 14px;
            .border-box-sizing;
            margin-right: 5px;
            vertical-align: bottom;
            color: @font-color;
        }

        &-item {
            display: inline-block;
            text-align: left;
            .border-box-sizing;
            margin-right: 5px;
            font-size: 0;
        }

        &-header {
            font-size: 14px;
            color: @font-color;
            display: inline-block;
        }

        &-value {
            height: 12px;
            display: inline-block;
            .border-box-sizing;
            vertical-align: bottom;

            &:hover {
                border: 1px solid #000000;
            }
        }

        &-count {
            width: 35px;
            margin-left: 5px;
            font-size: 12px;
            text-align: left;
            color: @font-color;
            display: inline-block;
        }

        &-food {
            background: @food-color;
        }

        &-drugs {
            background: @drugs-color;
        }

        &-nonfood {
            background: @nonfood-color;
        }

        &-ticket {
            background: @ticket-color;
        }

        &-fuel {
            background: @fuel-color;
        }
    }
}


.costs-modal {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 0;
    width: 404px;
    -webkit-box-shadow: 2px 4px 20px rgba(0,0,0,0.5);
    -moz-box-shadow: 2px 4px 20px rgba(0,0,0,0.5);
    box-shadow: 2px 4px 20px rgba(0,0,0,0.5);
    .border-box-sizing;

    &__text-wrapper {
        width: 404px;
        display: inline-block;
        vertical-align: middle;
        .border-box-sizing;
        padding: 10px 20px;
    }

    &__name {
        font-size: 18px;
        font-weight: bold;
        color: #222222;
        margin-bottom: 5px;
        line-height: 22px;
        margin-right: 10px;
    }

    &__region {
        font-size: 14px;
        font-weight: normal;
        color: #222222;
        line-height: 17px;
        margin-bottom: 5px;
    }

    &__link-more {
        display: none;
        width: 100%;
        /*display: inline-block;*/
        padding: 15px;
        text-align: center;
        color: #18ca95;
        border-top: 1px solid #ebebeb;
        .border-box-sizing;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
    }

    &__more-wrapper {
        width: 100%;
        background: #f9f8f8;
        .border-box-sizing;
        padding: 10px 20px;
    }

    &__more-item {
        font-size: 13px;
        color: #999999;
        line-height: 16px;
        font-weight: normal;
        margin-bottom: 10px;

        &-value {
            font-size: 16px;
            color: #222222;
            line-height: 20px;
        }
    }


    &__more-close {
        display: none;
        width: 100%;
        padding: 15px;
        text-align: center;
        color: #18ca95;
        border-top: 1px solid #ebebeb;
        .border-box-sizing;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
    }

    &__close {
        display: none;
        position: absolute;
        top: 5px;
        right: 5px;
        font-size: 30px;
        text-decoration: none;
        color: #000000;
    }
}

.tips-modal {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 0;
    width: 200px;
    -webkit-box-shadow: 2px 4px 20px rgba(0,0,0,0.5);
    -moz-box-shadow: 2px 4px 20px rgba(0,0,0,0.5);
    box-shadow: 2px 4px 20px rgba(0,0,0,0.5);
    .border-box-sizing;

    &__more-wrapper {
        width: 100%;
        background: #f9f8f8;
        .border-box-sizing;
        padding: 10px 20px;
    }

    &__more-item {
        font-size: 13px;
        color: #999999;
        line-height: 16px;
        font-weight: normal;
        margin-bottom: 10px;
    }

    &__close {
        display: none;
        position: absolute;
        top: 5px;
        right: 5px;
        font-size: 30px;
        text-decoration: none;
        color: #000000;
    }
}