@rosstat-color: #6AB68A;
@real-color: #42669E;

@border-color: #CDCDCD;

@font-color: #2D2D2D;

.border-box-sizing {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@import "reset";
@import "fonts";

body {
    width: 100%;
    max-width: 770px;
    padding: 20px 10px;
    .border-box-sizing;
    font-family: ALSStory;
}

.products-costs {
    width: 100%;

    &__header {
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 20px;

        &:after {
            width: 100%;
            height: 2px;
            display: block;
            margin-top: 20px;
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAACCAMAAABMg11sAAAABlBMVEX///+ioqGy3hdlAAAAD0lEQVQI12NgZGQAAQgFAAAyAAVrtfaDAAAAAElFTkSuQmCC);
            content: '';
        }
    }

    &__legend {
        width: 100%;
        display: inline-block;
        margin-bottom: 10px;
        font-size: 0;

        &-item {
            width: 100%;
            margin-bottom: 10px;
            display: inline-block;
            vertical-align: top;
        }

        &-name-rosstat {
            display: inline-block;
            font-size: 14px;
            color: @font-color;

            &:before {
                width: 12px;
                height: 12px;
                display: inline-block;
                background: @rosstat-color;
                position: relative;
                .border-box-sizing;
                content: '';
                margin-right: 10px;
                vertical-align: middle;
            }

            &:hover:before {
                border: 1px solid #000000;
            }
        }

        &-name-real {
            display: inline-block;
            font-size: 14px;
            color: @font-color;

            &:before {
                width: 12px;
                height: 12px;
                display: inline-block;
                background: @real-color;
                position: relative;
                .border-box-sizing;
                content: '';
                margin-right: 10px;
                vertical-align: middle;
            }

            &:hover:before {
                border: 1px solid #000000;
            }
        }
    }

    &__select {
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        border: 1px solid @border-color;
        display: inline-block;

        text-align: left;
        cursor: pointer;
        position: relative;
        margin-bottom: 30px;

        &-value {
            font-size: 14px;
            font-weight: bold;
            padding: 10px 20px;
            width: 210px;
            display: inline-block;

            &:after {
                font-family: spec;
                position: absolute;
                content: '\e313';
                font-size: 12px;
                color: @border-color;
                right: 15px;
                top: 12px;
            }
        }

        &-list {
            width: 100%;
            display: none;
            font-size: 14px;
            position: absolute;
            top: 35px;
            left: 0;
            background: #ffffff;
            z-index: 1;
            border-radius: 3px;
            -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
            -moz-box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
            box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            .border-box-sizing;
        }

        &-item {
            padding: 2px 10px;
            width: 100%;
            .border-box-sizing;
            color: @font-color;

            &:hover {
                color: #00cd8e;
            }

            &_active {
                background: #00cd8e;
                cursor: default;

                &:hover {
                    color: @font-color;
               }
            }
        }
    }

    &__graphics {
        width: 100%;
        text-align: center;
    }

    &__graphic {
        width: 130px;
        display: inline-block;
        margin-bottom: 40px;
        font-size: 0;
        text-align: left;
        .border-box-sizing;
        vertical-align: top;
        margin-right: 15px;

        &-rosstat {
            height: 12px;
            .border-box-sizing;
            display: inline-block;
            background: @rosstat-color;
            margin-bottom: 2px;

            &:hover {
                border: 1px solid #000000;
            }

            &-count {
                font-size: 12px;
                width: 45px;
                display: inline-block;
                text-align: left;
                margin-left: 5px;
                vertical-align: bottom;
                line-height: 12px;
            }
        }

        &-real {
            height: 12px;
            .border-box-sizing;
            display: inline-block;
            background: @real-color;

            &:hover {
                border: 1px solid #000000;
            }

            &-count {
                font-size: 12px;
                line-height: 12px;
                width: 45px;
                display: inline-block;
                text-align: left;
                margin-left: 5px;
                vertical-align: bottom;
            }
        }

        &-name {
            width: 90%;
            display: inline-block;
            font-size: 14px;
            .border-box-sizing;
            color: @font-color;
            text-align: left;
            margin-top: 10px;
        }
    }
}

.costs-modal {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 0;
    width: 404px;
    -webkit-box-shadow: 2px 4px 20px rgba(0,0,0,0.5);
    -moz-box-shadow: 2px 4px 20px rgba(0,0,0,0.5);
    box-shadow: 2px 4px 20px rgba(0,0,0,0.5);
    .border-box-sizing;

    &__text-wrapper {
        width: 404px;
        display: inline-block;
        vertical-align: middle;
        .border-box-sizing;
        padding: 10px 20px;
    }

    &__name {
        font-size: 18px;
        font-weight: bold;
        color: #222222;
        margin-bottom: 5px;
        line-height: 22px;
        margin-right: 10px;
    }

    &__region {
        font-size: 14px;
        font-weight: normal;
        color: #222222;
        line-height: 17px;
        margin-bottom: 5px;
    }

    &__link-more {
        display: none;
        width: 100%;
        /*display: inline-block;*/
        padding: 15px;
        text-align: center;
        color: #18ca95;
        border-top: 1px solid #ebebeb;
        .border-box-sizing;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
    }

    &__more-wrapper {
        width: 100%;
        background: #f9f8f8;
        .border-box-sizing;
        padding: 10px 20px;
    }

    &__more-item {
        font-size: 13px;
        color: #999999;
        line-height: 16px;
        font-weight: normal;
        margin-bottom: 10px;

        &-value {
            font-size: 16px;
            color: #222222;
            line-height: 20px;
        }
    }


    &__more-close {
        display: none;
        width: 100%;
        padding: 15px;
        text-align: center;
        color: #18ca95;
        border-top: 1px solid #ebebeb;
        .border-box-sizing;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
    }

    &__close {
        display: none;
        position: absolute;
        top: 5px;
        right: 5px;
        font-size: 30px;
        text-decoration: none;
        color: #000000;
    }
}