@under-color: #AED9CF;
@average-color: #6AB68A;
@pensioner-color: #008293;
@family-color: #509EFA;
@costs-color: #DE5131;

@font-color: #2D2D2D;

.border-box-sizing {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@import "reset";
@import "fonts";

body {
    width: 100%;
    max-width: 770px;
    padding: 20px 10px;
    .border-box-sizing;
    font-family: ALSStory;
}

.month-costs {
    width: 100%;

    &__header {
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 20px;

        &:after {
            width: 100%;
            height: 2px;
            display: block;
            margin-top: 20px;
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAACCAMAAABMg11sAAAABlBMVEX///+ioqGy3hdlAAAAD0lEQVQI12NgZGQAAQgFAAAyAAVrtfaDAAAAAElFTkSuQmCC);
            content: '';
        }
    }

    &__legend {
        width: 100%;
        display: inline-block;
        margin-bottom: 30px;
        font-size: 0;

        &-item {
            width: 50%;
            margin-bottom: 10px;
            display: inline-block;
        }

        &-name-under {
            display: inline-block;
            font-size: 14px;
            color: @font-color;

            &:before {
                width: 12px;
                height: 12px;
                display: inline-block;
                background: @under-color;
                position: relative;
                .border-box-sizing;
                content: '';
                margin-right: 10px;
                vertical-align: middle;
            }

            &:hover:before {
                border: 1px solid #000000;
            }
        }

        &-name-family {
            display: inline-block;
            font-size: 14px;
            color: @font-color;

            &:before {
                width: 12px;
                height: 12px;
                display: inline-block;
                background: @family-color;
                position: relative;
                .border-box-sizing;
                content: '';
                margin-right: 10px;
                vertical-align: middle;
            }

            &:hover:before {
                border: 1px solid #000000;
            }
        }

        &-name-average {
            display: inline-block;
            font-size: 14px;
            color: @font-color;

            &:before {
                width: 12px;
                height: 12px;
                display: inline-block;
                background: @average-color;
                position: relative;
                .border-box-sizing;
                content: '';
                margin-right: 10px;
                vertical-align: middle;
            }

            &:hover:before {
                border: 1px solid #000000;
            }
        }

        &-name-costs {
            display: inline-block;
            font-size: 14px;
            color: @font-color;

            &:before {
                width: 12px;
                height: 12px;
                display: inline-block;
                background: @costs-color;
                position: relative;
                .border-box-sizing;
                content: '';
                margin-right: 10px;
                vertical-align: middle;
            }

            &:hover:before {
                border: 1px solid #000000;
            }
        }

        &-name-pensioner {
            display: inline-block;
            font-size: 14px;
            color: @font-color;

            &:before {
                width: 12px;
                height: 12px;
                display: inline-block;
                background: @pensioner-color;
                position: relative;
                .border-box-sizing;
                content: '';
                margin-right: 10px;
                vertical-align: middle;
            }

            &:hover:before {
                border: 1px solid #000000;
            }
        }
    }

    &__graphics {
        width: 100%;
        text-align: center;
    }

    &__graphic {
        width: 140px;
        height: 50px;
        display: inline-block;
        margin-bottom: 50px;
        margin-right: 5px;
        font-size: 0;
        text-align: center;
        .border-box-sizing;
        vertical-align: bottom;

        &-item {
            width: 12px;
            height: 50px;
            margin-right: 2px;
            display: inline-block;

            &:last-child {
                margin-right: 0;
            }
        }

        &-upline {
            width: 100%;
            .border-box-sizing;
            display: inline-block;
            vertical-align: bottom;

            &:hover {
                border: 1px solid #000000;
                border-bottom: none;
            }

            &:hover + .month-costs__graphic-downline {
                border: 1px solid #000000;
                border-top: none;
            }
        }

        &-downline {
            width: 100%;
            .border-box-sizing;
            display: inline-block;
            background: @costs-color;
            vertical-align: bottom;

            &:hover {
                border: 1px solid #000000;
            }
        }

        &-under {
            background: @under-color;
        }

        &-average {
            background: @average-color;
        }

        &-pensioner {
            background: @pensioner-color;
        }

        &-family {
            background: @family-color;
        }

        &-name {
            width: 100%;
            display: inline-block;
            font-size: 14px;
            .border-box-sizing;
            color: @font-color;
        }
    }
}

.costs-modal {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 0;
    width: 404px;
    -webkit-box-shadow: 2px 4px 20px rgba(0,0,0,0.5);
    -moz-box-shadow: 2px 4px 20px rgba(0,0,0,0.5);
    box-shadow: 2px 4px 20px rgba(0,0,0,0.5);
    .border-box-sizing;

    &__text-wrapper {
        width: 404px;
        display: inline-block;
        vertical-align: middle;
        .border-box-sizing;
        padding: 10px 20px;
    }

    &__name {
        font-size: 18px;
        font-weight: bold;
        color: #222222;
        margin-bottom: 5px;
        line-height: 22px;
        margin-right: 10px;
    }

    &__region {
        font-size: 14px;
        font-weight: normal;
        color: #222222;
        line-height: 17px;
        margin-bottom: 5px;
    }

    &__link-more {
        display: none;
        width: 100%;
        /*display: inline-block;*/
        padding: 15px;
        text-align: center;
        color: #18ca95;
        border-top: 1px solid #ebebeb;
        .border-box-sizing;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
    }

    &__more-wrapper {
        width: 100%;
        background: #f9f8f8;
        .border-box-sizing;
        padding: 10px 20px;
    }

    &__more-item {
        font-size: 13px;
        color: #999999;
        line-height: 16px;
        font-weight: normal;
        margin-bottom: 10px;

        &-value {
            font-size: 16px;
            color: #222222;
            line-height: 20px;
        }
    }


    &__more-close {
        display: none;
        width: 100%;
        padding: 15px;
        text-align: center;
        color: #18ca95;
        border-top: 1px solid #ebebeb;
        .border-box-sizing;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
    }

    &__close {
        display: none;
        position: absolute;
        top: 5px;
        right: 5px;
        font-size: 30px;
        text-decoration: none;
        color: #000000;
    }
}