body {
    width: 100%;
    max-width: 640px;
    min-width: 320px;
    font-family: ALSStory,'Helvetica CY',Arial,sans-serif;
    padding: 10px 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}