@font-face {
    font-family: ALSRubl;
    src: url(../../../../_vendors_/fonts/ALSRubl/als-rouble-webfont.eot);
    src: url(../../../../_vendors_/fonts/ALSRubl/als-rouble-webfont.eot?#iefix) format('embedded-opentype'), url(../../../../_vendors_/fonts/ALSRubl/als-rouble-webfont.woff) format('woff'), url(http://s.rbk.ru/v7_top_static/common/common-4.0.11/styles/fonts/ALSRubl/als-rouble-webfont.ttf) format('truetype'), url(../../../../_vendors_/fonts/ALSRubl/als-rouble-webfont.svg#als-rouble-regular) format('svg');
    font-weight: 400;
    font-style: normal
}


*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    max-width: 1000px;
    min-width: 640px;
    width: 100%;
    font-size: 0;
    font-family: ALSStory,'Helvetica CY',Arial,sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 30px 0px 40px;
    margin: 0;
}
.g-rub {
    font-family: 'ALSRubl';
}


#map {
    width: 100%;
    height: 500px;
    display: inline-block;
    vertical-align: top;
}

.filters {
    position: relative;
    width: 100%;
    display: inline-block;
    margin-top: 15px;
}

.filter {
    vertical-align: top;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    width: 100%;
    border: solid 1px #cdcdcd;
    padding: 10px 15px 10px 10px;
    border-radius: 4px;
    position: relative;
    font-family: 'ALSStory', 'Helvetica CY', Arial, sans-serif;
    font-weight: normal;
    font-size: 13px;
    background: #fff;
    white-space: normal;
    cursor: pointer;
}

.filter__main {
    position: relative;
}

.filter__point {
    display: block;
    font-size: 14px;
    line-height: 19px;
    padding-right: 10px;
}

.filter__point:after {
    content: '';
    display: block;
    position: absolute;
    top: 32%;
    right: 0;
    width: 12px;
    height: 8px;
    background: url(../images/arrow-menu.svg) no-repeat 0 0;
    background-size: 12px 8px;
}

.filter__list {
    -webkit-box-shadow: 0px 5px 29px 0px rgba(0, 0, 0, 0.3);
    -khtml-box-shadow: 0px 5px 29px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 5px 29px 0px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0px 5px 29px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 29px 0px rgba(0, 0, 0, 0.3);
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 1001;
}

.filter_title__list {
    width: 101%;
    top: -1px;
    left: -1px;
}

.filter__list {
    -webkit-box-shadow: 0px 5px 29px 0px rgba(0, 0, 0, 0.3);
    -khtml-box-shadow: 0px 5px 29px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 5px 29px 0px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0px 5px 29px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 29px 0px rgba(0, 0, 0, 0.3);
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 1001;
}
.filter_title__list {
    width: 101%;
    top: -1px;
    left: -1px;
}
.filter.active .filter__list, .filter.active .filter__date {
    display: block;
}

.filter__list:before, .filter__list:after {
    content: " ";
    display: table;
}

.filter__search__text {
    display: block;
    position: relative;
    padding: 15px 20px 12px 20px;
    border-bottom: 1px solid #ECECEC;
}

.filter__search__input-wrap {
    display: block;
}

.filter__search__text:after {
    content: '';
    position: absolute;
    display: block;
    background: url(../images/loupe-grey.svg) no-repeat 0 0;
    width: 16px;
    height: 16px;
    left: 20px;
    top: 36%;
    background-size: 16px 16px;
}

.filter__search__input {
    line-height: 19px;
    border: none;
    font-family: 'ALSStory', 'Helvetica CY', Arial, sans-serif;
    font-size: 13px;
    padding: 0 0 0 25px;
    height: 100%;
    width: 100%;
    border-radius: 0;
    outline: none;
}

.filter__list__inner {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.filter__list__inner > div {
    overflow-x: hidden;
}

.filter_title__item.active {
    background: #18ca95;
    border-bottom: 1px solid #08b4da;
}

.filter__item.active .filter__text, .filter__item.active .filter__description {
    color: #fff;
}

.filter_title__item {
    display: block;
    color: #08b4da;
}

.filter__text {
    display: block;
    font-size: 14px;
    line-height: 16px;
    color: #000;
}

.filter__item {
    padding: 15px 20px;
    font-size: 0;
    border-bottom: 1px solid #ECECEC;
}

.filter_title__item {
    display: block;
    color: #08b4da;
}

.custom-scroll {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 6px;
    overflow: hidden;
    background: #eee;
    background: rgba(215, 215, 215, 0.42);
    z-index: 10;
}

.custom-scroll__trackbar {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 6px;
    background: #9b9b9b;
    cursor: pointer;
}

.leaflet-control-zoom > a {
    background-color: rgb(247, 247, 247);;
}

.leaflet-bar a, .leaflet-bar a:hover {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    width: 28px;
    height: 28px;
    line-height: 28px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #333333;
    font-weight: bold;
    font-size: 15px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
}

.leaflet-top {
    top: auto;
    bottom: 0 !important;
}

.leaflet-top .leaflet-control {
    margin-bottom: 20px;
}

.leaflet-bar {
    box-shadow: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.map-popup {
    position: absolute;
    background: #ffffff;
    -webkit-border-radius-topleft: 5px;
    -webkit-border-radius-topright: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    font-size: 0;
    width: 404px;
    -webkit-box-shadow: 2px 4px 20px rgba(0,0,0,0.5);
    -moz-box-shadow: 2px 4px 20px rgba(0,0,0,0.5);
    box-shadow: 2px 4px 20px rgba(0,0,0,0.5);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.map-popup .leaflet-popup-content-wrapper {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #f9f8f8;
    border-radius: 0;
}

.leaflet-popup-content {
    width: 100% !important;
    margin: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.popup__item-name {
    font-size: 13px;
    color: #999999;
    line-height: 16px;
    font-weight: normal;
    margin-bottom: 10px;
}
.popup__item {
    padding: 5px 20px;
    font-size: 16px;
    color: #222222;
    line-height: 20px;
}

.popup__header {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #222222;
    margin-bottom: 5px;
    line-height: 22px;
    white-space: normal;
    background: #ffffff;
}

.choosers {
    margin-top: 25px;
    margin-bottom: 25px;
    border-collapse: collapse;
    font-size: 0;
    white-space: nowrap;
    text-align: center;
}
.choosers__item {
    width: 14.2%;
    height: 32px;
    text-align: center;
    font-size: 14px;
    line-height: 32px;
    display: inline-block;
    border: 1px solid #cdcdcd;
    color: #000000;
    text-decoration: none;
    vertical-align: middle;
    margin-left: -1px;
    overflow: hidden;
}
.choosers__item:hover {
    background: #18ca95;
    border: 1px solid #18ca95;
    color: #ffffff !important;
}
.choosers__item_active {
    background: #18ca95;
    border: 1px solid #18ca95;
    color: #ffffff !important;
    cursor: default;
}
.choosers__item:first-child {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    margin-left: 0;
}
.choosers__item:last-child {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}