html {
    font-family: Arial;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #005488;
    color: #deeef7;
    font-size: 18px;
    line-height: 22px;
}

.logotype {
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 0 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.logotype__image {
    display: inline-block;
    display: -moz-inline-stack;
    vertical-align: middle;
    max-width: 416px;
    width: 100%;
    height: auto;
    *zoom:1;
    //display:inline
}

.logotype__helper {
    display:-moz-inline-box;
    display:inline-block;
    height:100%;
    width:0;
    vertical-align:middle;
    zoom:1;
    //display:inline
}

.footer {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    text-align: center;
}

.footer__text {
    width: 100%;
    max-width: 500px;
    padding: 0 20px;
    margin: 0 auto 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    _width: 500px;
}

.footer__link {
    color: #deeef7;
    text-decoration: underline;
}

.footer__link:hover {
    color: #deeef7;
    text-decoration: none;
}

@media (max-width: 639px) {
    body {
        font-size: 14px;
        line-height: 18px;
        display: table;
    }

    .logotype {
        display: table-cell;
        vertical-align: middle;
    }

    .logotype__helper {
        display: none;
    }

    .footer__text {
        padding: 0 40px;
    }
}