<div class="choosers">
    <div class="choosers__value"></div>
    <div class="choosers__list"></div>
</div>

<div class="chooser__item" data-choose="all">Показать все доходы</div>

<div class="graphics"></div>

<div class="underGraphic" id="maked"></div>

<div class="source">
    Источник: roskazna.ru, economy.gov.ru. Все данные приведены к ценам 2016 года
</div>

<ul class="legend"></ul>

<div class="facts__title">Факты:</div>
<div class="facts">
    <div class="fact">
        <div class="fact__text">
            Доля внешнеэкономической деятельности в доходах государства упала с 37,6% в 2014 году до 19,2% в 2016 году.
        </div>
    </div>
    <div class="fact">
        <div class="fact__text">
            Доля налогов на реализуемые в РФ товары (НДС) в бюджетных доходах выросла с 12,1% в 2008 году до 24,5% в 2016 году
        </div>
    </div>
    <div class="fact">
        <div class="fact__text">
            Доходы бюджета от акциза на табачную продукцию вырастут в 2019 году в пять раз до 481 млрд руб.
        </div>
    </div>
    <div class="fact">
        <div class="fact__text">
            В 2016 году за счет продажи 19,5% «Роснефти» доходы от использования госимущества вырастут почти в два раза
        </div>
    </div>
</div>

<script type='text/template' id="modal-tooltip">
    <div class="modal-tooltip" <%=item['styles'] %>>
    <div class="modal-tooltip__text-wrapper">
        <div class="modal-tooltip__name">
            <%= item['year'] %> год
        </div>
    </div>
    <div class="modal-tooltip__more-wrapper">
        <div class="modal-tooltip__more-item">
            <div class="modal-tooltip__more-item-value">
                <%= item['perc'] %>% от бюджета
            </div>
            (<%= item['val'] %> руб.)
        </div>

        <% if(item['pin'] == 1) { %>
        <div class="modal-tooltip__more-item modal-tooltip__devider-up">
            <%= item['comment'] %>
        </div>
        <% } %>

        <a href="#" class="modal-tooltip__close">&#215;</a>
    </div>
    </div>
</script>

<script type='text/template' id="modal-tooltip-detail">
    <div class="modal-tooltip1" <%=item['styles'] %>>
    <% if(item['attr'] != 'l') { %>
    <div class="modal-tooltip1__text-wrapper">
        <div class="modal-tooltip1__name">
            <%= item['year'] %> год
        </div>
    </div>
    <% } %>
    <div class="modal-tooltip1__more-wrapper">
    <% _.each(item['points'], function(it, key) { %>
        <div class="modal-tooltip1__more-item">
            <div class="modal-tooltip1__more-item-value">
                <%= formatSumm(it['point']['y']) %> руб.
            </div>
            <%=it['point']['short_name'] %>
        </div>
    <% }); %>
        <a href="#" class="modal-tooltip1__close">&#215;</a>
    </div>
    </div>
</script>

<!--<script type='text/template' id="modal-tooltip-detail">
    <div class="modal-tooltip1" <%=item['styles'] %>>
    <% if(item['attr'] == 'l') { %>
    <div class="modal-tooltip1__text-wrapper">
        <div class="modal-tooltip1__name">
            <%= item['year'] %> год
        </div>
    </div>
    <% } %>
    <div class="modal-tooltip1__more-wrapper">
        <div class="modal-tooltip1__more-item">
            <div class="modal-tooltip1__more-item-value" <%=item['styles2'] %>>
                <%= item['val'] %> руб.
            </div>
        </div>

        <a href="#" class="modal-tooltip1__close">&#215;</a>
    </div>
    </div>
</script>-->

<script type='text/template' id="legend_item">
    <li class="legend__item">
        <span class="legend__item-name legend__item-name_var<%=item['class_add']+1 %>" title="<%=item['name'] %>"><%=item['short_name'] %></span>
    </li>
</script>