.underGraphic {
    display: none;
    width: 100%;
}

.graphic {
    display: block;
    width: 100%;
    z-index:0;
    position: relative;
    overflow: visible !important;
}

.choosers {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #CDCDCD;
    display: inline-block;
    text-align: left;
    cursor: pointer;
    position: relative;
    margin-bottom: 30px;
    z-index: 2;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    &__value {
        font-size: 14px;
        line-height: 23px;
        padding: 6px 25px 8px 15px;
        width: 330px;
        display: inline-block;
        height: 32px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        &:after {
            content: '▼';
            font-size: 8px;
            display: block;
            position: absolute;
            top: 23%;
            right: 14px;
            width: 6px;
            height: 6px;
            /*//background: url(../images/arrow-menu.svg) no-repeat 0 0;
            background-size: 12px 8px;*/
        }
    }

    &__list {
        width: 100%;
        display: none;
        font-size: 14px;
        position: absolute;
        top: 0;
        left: 0;
        background: #ffffff;
        z-index: 1;
        border-radius: 3px;
        -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
        -moz-box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
        box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding-left: 15px;
        padding-right: 15px;
    }

    &__item {
        padding: 10px 0;
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        color: #2D2D2D;
        border-bottom: 1px solid rgba(0,0,0,0.08);

        &:last-child {
            border-bottom: none;
        }

        &:hover {
            color: #00cd8e;
        }

        &_active {
            color: #00cd8e;
            cursor: default;
            position: relative;

            &:after {
                content: '▼';
                font-size: 8px;
                display: block;
                position: absolute;
                top: 40%;
                right: 0;
                width: 6px;
                height: 6px;
                /*//background: url(../images/arrow-menu.svg) no-repeat 0 0;
                background-size: 12px 8px;*/
            }
        }
    }
}

.chooser__item {
    font-size: 14px;
    line-height: 35px;
    display: inline-block;
    color: #000000;
    text-decoration: none;
    vertical-align: top;
    margin-left: 30px;
    cursor: pointer;

    &:hover {
        color: #00cd8e;
        cursor: pointer;
    }

    &_active {
        color: #9b9b9b;
        cursor: default;

        &:hover {
            color: #9b9b9b;
            cursor: default;
        }
    }
}

.legend {
    list-style: none;
    font-size: 0;
    display: block;
    vertical-align: middle;
    padding-left: 0;
    width: 100%;

    &__item {
        width: 50%;
        display: inline-block;
        box-sizing: border-box;
        line-height: 25px;
        vertical-align: middle;
        padding-right: 30px;
        overflow: hidden;
        margin-bottom: 15px;
        height: 25px;

        &:nth-child(2n) {
            padding-left: 30px;
            padding-right: 0;
        }

        &-name {
            font-size: 14px;
            font-weight: bold;
            line-height: 25px;
            height: 25px;
            color: #000000;
            display: inline-block;
            vertical-align: top;
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;

            &:before {
                content: ' ';
                width: 25px;
                height: 25px;
                background: rgb(80, 158, 250);
                margin-right: 20px;
                display: inline-block;
                vertical-align: middle;
            }

            &_var1:before {
                background: #56cc90;
            }

            &_var2:before {
                background: #d7ca22;
            }

            &_var3:before {
                background: #22c7fd;
            }

            &_var4:before {
                background: #df5a3c;
            }

            &_var5:before {
                background: #1c36a5;
            }

            &_var6:before {
                background: #ed8908;
            }
        }
    }
}

.modal-tooltip {
    position: absolute;
    bottom: 0;
    left: 20px;
    background: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 0;
    width: 300px;
    -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 20px;

    &__text-wrapper {
        width: 100%;
        display: inline-block;
        vertical-align: middle;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;;
        text-align: left;
        padding: 15px 0;
        border-bottom: 1px solid #DADADA;
    }

    &__name {
        /*width: 100%;*/
        display: inline-block;
        font-size: 16px;
        font-weight: bold;
        color: #222222;
        line-height: 22px;
        text-align: left;
        white-space: normal;
    }

    &__date {
        font-size: 14px;
        font-weight: normal;
        color: #2d2d2d;
        line-height: 17px;
        margin-bottom: 5px;
    }

    &__devider-up {
        border-top: 1px solid #DADADA;
        padding-top: 10px;
    }

    &__more-wrapper {
        width: 100%;
        background: #ffffff;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;;
        padding: 10px 0;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }

    &__more-item {
        font-size: 13px;
        color: #000000;
        line-height: 21px;
        font-weight: normal;
        margin-bottom: 10px;
        display: block;
        word-wrap: break-word;
        white-space: normal;

        &-value {
            font-size: 13px;
            color: #000000;
            line-height: 15px;
            font-weight: bold;
        }
    }


    &__more-close {
        display: none;
        width: 100%;
        padding: 15px;
        text-align: center;
        color: #18ca95;
        border-top: 1px solid #ebebeb;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
    }

    &__close {
        display: none;
        position: absolute;
        top: 5px;
        right: 5px;
        font-size: 30px;
        text-decoration: none;
        color: #000000;
    }
}

.modal-tooltip1 {
    position: absolute;
    bottom: -40px;
    left: 20px;
    background: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 0;
    max-width: 400px;
    display: inline-block;
    -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 20px;


    &__more-wrapper {
        width: 100%;
        background: #ffffff;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;;
        padding: 10px 0;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }

    &__more-item {
        font-size: 13px;
        color: #000000;
        line-height: 21px;
        font-weight: normal;
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 5px;

        &-value {
            font-size: 14px;
            color: #000000;
            line-height: 22px;
            font-weight: bold;
        }
    }
}

/*.modal-tooltip1 {
    position: absolute;
    bottom: 0;
    left: 20px;
    background: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 0;
    display: inline-block;
    -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 20px;


    &__more-wrapper {
        width: 100%;
        background: #ffffff;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;;
        padding: 10px 0;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }

    &__more-item {
        font-size: 14px;
        color: #000000;
        line-height: 24px;
        font-weight: normal;
        display: block;
        white-space: nowrap;

        &-value {
            font-size: 14px;
            color: #000000;
            line-height: 24px;
            font-weight: bold;
        }
    }
}*/

.highcharts-container { overflow: visible !important; }
svg { overflow: visible !important; }