/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* Document
   ========================================================================== */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
}
/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}
/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}
/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}
/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0;
}
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}
/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}
/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}
/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}
/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}
/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}
/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}
/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block;
}
/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}
/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}
/**
 * Add the correct display in IE.
 */
template {
  display: none;
}
/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

body {
  width: 100%;
  max-width: 1000px;
  min-width: 640px;
  font-family: ALSStory, 'Helvetica CY', Arial, sans-serif;
  padding: 10px 30px 0 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
.facts {
  width: 100%;
  display: block;
  font-size: 0;
}
.facts__title {
  font-size: 16px;
  font-weight: bold;
  margin-top: 30px;
}
.fact {
  margin-top: -10px;
  position: relative;
  width: 50%;
  padding-right: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
}
.fact:nth-child(2n) {
  padding-left: 30px;
  padding-right: 0;
}
.fact__text {
  height: 121px;
  padding-left: 25px;
  line-height: 22px;
  font-size: 14px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  vertical-align: top;
  padding-bottom: 30px;
  padding-top: 30px;
  border-bottom: 1px solid #d9d9d9;
}
.fact__text:before {
  margin-left: -23px;
  margin-right: 12px;
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  line-height: 27px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #777575;
}
.source {
  margin-top: 30px;
  font-size: 12px;
  color: #aaaaaa;
  font-weight: normal;
  margin-bottom: 20px;
}
.source:before {
  width: 100%;
  height: 2px;
  display: block;
  margin-bottom: 20px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAACCAMAAABMg11sAAAABlBMVEX///+ioqGy3hdlAAAAD0lEQVQI12NgZGQAAQgFAAAyAAVrtfaDAAAAAElFTkSuQmCC);
  content: '';
}
.source__link {
  color: #aaaaaa;
  text-decoration: none;
}
.source__link:hover {
  color: #000000;
  text-decoration: none;
}

.underGraphic {
  display: none;
  width: 100%;
}
.graphic {
  display: block;
  width: 100%;
  z-index: 0;
  position: relative;
  overflow: visible !important;
}
.choosers {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #CDCDCD;
  display: inline-block;
  text-align: left;
  cursor: pointer;
  position: relative;
  margin-bottom: 30px;
  z-index: 2;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.choosers__value {
  font-size: 14px;
  line-height: 23px;
  padding: 6px 25px 8px 15px;
  width: 330px;
  display: inline-block;
  height: 32px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.choosers__value:after {
  content: '▼';
  font-size: 8px;
  display: block;
  position: absolute;
  top: 23%;
  right: 14px;
  width: 6px;
  height: 6px;
  /*//background: url(../images/arrow-menu.svg) no-repeat 0 0;
            background-size: 12px 8px;*/
}
.choosers__list {
  width: 100%;
  display: none;
  font-size: 14px;
  position: absolute;
  top: 0;
  left: 0;
  background: #ffffff;
  z-index: 1;
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
}
.choosers__item {
  padding: 10px 0;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #2D2D2D;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
.choosers__item:last-child {
  border-bottom: none;
}
.choosers__item:hover {
  color: #00cd8e;
}
.choosers__item_active {
  color: #00cd8e;
  cursor: default;
  position: relative;
}
.choosers__item_active:after {
  content: '▼';
  font-size: 8px;
  display: block;
  position: absolute;
  top: 40%;
  right: 0;
  width: 6px;
  height: 6px;
  /*//background: url(../images/arrow-menu.svg) no-repeat 0 0;
                background-size: 12px 8px;*/
}
.chooser__item {
  font-size: 14px;
  line-height: 35px;
  display: inline-block;
  color: #000000;
  text-decoration: none;
  vertical-align: top;
  margin-left: 30px;
  cursor: pointer;
}
.chooser__item:hover {
  color: #00cd8e;
  cursor: pointer;
}
.chooser__item_active {
  color: #9b9b9b;
  cursor: default;
}
.chooser__item_active:hover {
  color: #9b9b9b;
  cursor: default;
}
.legend {
  list-style: none;
  font-size: 0;
  display: block;
  vertical-align: middle;
  padding-left: 0;
  width: 100%;
}
.legend__item {
  width: 50%;
  display: inline-block;
  box-sizing: border-box;
  line-height: 25px;
  vertical-align: middle;
  padding-right: 30px;
  overflow: hidden;
  margin-bottom: 15px;
  height: 25px;
}
.legend__item:nth-child(2n) {
  padding-left: 30px;
  padding-right: 0;
}
.legend__item-name {
  font-size: 14px;
  font-weight: bold;
  line-height: 25px;
  height: 25px;
  color: #000000;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.legend__item-name:before {
  content: ' ';
  width: 25px;
  height: 25px;
  background: #509efa;
  margin-right: 20px;
  display: inline-block;
  vertical-align: middle;
}
.legend__item-name_var1:before {
  background: #56cc90;
}
.legend__item-name_var2:before {
  background: #d7ca22;
}
.legend__item-name_var3:before {
  background: #22c7fd;
}
.legend__item-name_var4:before {
  background: #df5a3c;
}
.legend__item-name_var5:before {
  background: #1c36a5;
}
.legend__item-name_var6:before {
  background: #ed8908;
}
.modal-tooltip {
  position: absolute;
  bottom: 0;
  left: 20px;
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 0;
  width: 300px;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 20px;
}
.modal-tooltip__text-wrapper {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: left;
  padding: 15px 0;
  border-bottom: 1px solid #DADADA;
}
.modal-tooltip__name {
  /*width: 100%;*/
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  color: #222222;
  line-height: 22px;
  text-align: left;
  white-space: normal;
}
.modal-tooltip__date {
  font-size: 14px;
  font-weight: normal;
  color: #2d2d2d;
  line-height: 17px;
  margin-bottom: 5px;
}
.modal-tooltip__devider-up {
  border-top: 1px solid #DADADA;
  padding-top: 10px;
}
.modal-tooltip__more-wrapper {
  width: 100%;
  background: #ffffff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.modal-tooltip__more-item {
  font-size: 13px;
  color: #000000;
  line-height: 21px;
  font-weight: normal;
  margin-bottom: 10px;
  display: block;
  word-wrap: break-word;
  white-space: normal;
}
.modal-tooltip__more-item-value {
  font-size: 13px;
  color: #000000;
  line-height: 15px;
  font-weight: bold;
}
.modal-tooltip__more-close {
  display: none;
  width: 100%;
  padding: 15px;
  text-align: center;
  color: #18ca95;
  border-top: 1px solid #ebebeb;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}
.modal-tooltip__close {
  display: none;
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 30px;
  text-decoration: none;
  color: #000000;
}
.modal-tooltip1 {
  position: absolute;
  bottom: 0;
  left: 20px;
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 0;
  display: inline-block;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 20px;
}
.modal-tooltip1__more-wrapper {
  width: 100%;
  background: #ffffff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.modal-tooltip1__more-item {
  font-size: 14px;
  color: #000000;
  line-height: 24px;
  font-weight: normal;
  display: block;
  white-space: nowrap;
}
.modal-tooltip1__more-item-value {
  font-size: 14px;
  color: #000000;
  line-height: 24px;
  font-weight: bold;
}
.highcharts-container {
  overflow: visible !important;
}
svg {
  overflow: visible !important;
}

.modal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 0;
  width: 304px;
  -webkit-box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.5);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 3;
  -webkit-font-smoothing: antialiased;
}
.modal__text-wrapper {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 20px;
  border-bottom: 1px solid #DADADA;
  -webkit-font-smoothing: antialiased;
  z-index: 3;
}
.modal__name {
  font-size: 18px;
  font-weight: bold;
  color: #222222;
  margin-bottom: 5px;
  line-height: 22px;
  margin-right: 10px;
  -webkit-font-smoothing: antialiased;
  z-index: 3;
}
.modal__region {
  font-size: 14px;
  font-weight: normal;
  color: #222222;
  line-height: 17px;
  margin-bottom: 5px;
  -webkit-font-smoothing: antialiased;
  z-index: 3;
}
.modal__link-more {
  display: none;
  width: 100%;
  /*display: inline-block;*/
  padding: 15px;
  text-align: center;
  color: #18ca95;
  border-top: 1px solid #ebebeb;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}
.modal__more-wrapper {
  width: 100%;
  background: #ffffff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-font-smoothing: antialiased;
  z-index: 3;
}
.modal__more-item {
  font-size: 12px;
  color: #999999;
  line-height: 16px;
  font-weight: normal;
  margin-bottom: 10px;
  -webkit-font-smoothing: antialiased;
  z-index: 3;
}
.modal__more-item-value {
  font-size: 14px;
  color: #000000;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
  z-index: 3;
}
.modal__more-text {
  font-size: 14px;
  color: #000000;
  line-height: 16px;
  font-weight: normal;
  margin-bottom: 10px;
  -webkit-font-smoothing: antialiased;
  z-index: 3;
}
.modal__more-close {
  display: none;
  width: 100%;
  padding: 15px;
  text-align: center;
  color: #18ca95;
  border-top: 1px solid #ebebeb;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
}
.modal__close {
  display: none;
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 30px;
  text-decoration: none;
  color: #000000;
  -webkit-font-smoothing: antialiased;
  z-index: 3;
}
