body {
    width: 100%;
    max-width: 1000px;
    min-width: 640px;
    font-family: ALSStory,'Helvetica CY',Arial,sans-serif;
    padding: 10px 30px 0 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}

.facts {
    width: 100%;
    display: block;
    font-size:0;

    &__title {
        font-size: 16px;
        font-weight: bold;
        margin-top: 30px;
    }
}

.fact {
    margin-top: -10px;
    position: relative;
    width: 50%;
    padding-right: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;

    &:nth-child(2n) {
        padding-left: 30px;
        padding-right: 0;
    }

    &__text {
        height: 121px;
        padding-left: 25px;
        line-height: 22px;
        font-size: 14px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        display: inline-block;
        position: relative;
        vertical-align: top;
        padding-bottom: 30px;
        padding-top: 30px;
        border-bottom: 1px solid #d9d9d9;

        &:before {
            margin-left: -23px;
            margin-right: 12px;
            content: '';
            display: inline-block;
            width: 8px;
            height: 8px;
            line-height: 27px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            background: #777575;
        }
    }
}

.source {
    margin-top: 30px;
    font-size: 12px;
    color: #aaaaaa;
    font-weight: normal;
    margin-bottom: 20px;

    &:before {
        width: 100%;
        height: 2px;
        display: block;
        margin-bottom: 20px;
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAACCAMAAABMg11sAAAABlBMVEX///+ioqGy3hdlAAAAD0lEQVQI12NgZGQAAQgFAAAyAAVrtfaDAAAAAElFTkSuQmCC);
        content: '';
    }

    &__link {
        color: #aaaaaa;
        text-decoration: none;

        &:hover {
            color: #000000;
            text-decoration: none;
        }
    }
}